<div class="footer__inner">

  <ul class="footer__nav sp-bar-list">
    <li><a href="https://company.hankyung.com/ked/" title="새창" target="_blank">한국경제신문</a></li>
    <li><a href="mailto:arte@hankyung.com" title="새창" target="_blank">제휴문의</a></li>
    <li class="nosp-mobile"><a href="PW_D_OFF_46_00_00.html">기사배열 방침</a></li>
    <li><a href="https://id.hankyung.com/user/selectAuthAgree.do" title="새창" target="_blank">이용약관</a></li>
    <li class="nosp-mobile"><a href="https://id.hankyung.com/user/selectPrivacy.do" title="새창" target="_blank">개인정보
        처리방침</a></li>
    <li class="nosp-mobile"><a href="PW_D_OFF_41_00_00.html">자주 묻는 질문(FAQ)</a></li>
  </ul>

  <div class="footer__family">
    <div class="dropdown">
      <button type="button" class="dropdown__cur"><em>한국경제 Family</em></button>
      <ul class="dropdown__list">
        <li><a href="https://www.hankyung.com" class="dropdown__btn" title="새창" target="_blank">한국경제신문·한경닷컴</a></li>
        <li><a href="http://www.wowtv.co.kr" class="dropdown__btn" title="새창" target="_blank">한국경제TV</a></li>
        <li><a href="https://magazine.hankyung.com" class="dropdown__btn" title="새창" target="_blank">한국경제매거진</a></li>
        <li><a href="https://bp.hankyung.com" class="dropdown__btn" title="새창" target="_blank">한경BP(출판)</a></li>
        <li><a href="https://www.hkphil.com" class="dropdown__btn" title="새창" target="_blank">한경아르떼필하모닉</a></li>
        <li><a href="https://www.artetv.co.kr" class="dropdown__btn" title="새창" target="_blank">한경아르떼TV</a></li>
        <li><a href="https://marketinsight.hankyung.com" class="dropdown__btn" title="새창" target="_blank">한경마켓인사이트</a>
        </li>
        <li><a href="https://tenasia.hankyung.com" class="dropdown__btn" title="새창" target="_blank">텐아시아</a></li>
        <li><a href="https://www.kedglobal.com" class="dropdown__btn" title="새창" target="_blank">KED글로벌</a></li>
        <li><a href="https://bloomingbit.io" class="dropdown__btn" title="새창" target="_blank">블루밍비트</a></li>
        <li><a href="https://sgsg.hankyung.com" class="dropdown__btn" title="새창" target="_blank">생글생글</a></li>
      </ul>
    </div>
  </div>

  <div class="footer__block">
    <div class="footer__infobox">
      <p class="footer__address">한국경제신문 서울시 중구 청파로 463 본사 13층</p>
      <!-- <p class="footer__service-num">인터넷 뉴스 서비스 사업자 번호&nbsp;&nbsp;&nbsp;000-00-00000</p> -->
      <ul class="footer__info sp-bar-list">
        <li class="nosp">기사배열 원칙 책임자&nbsp;&nbsp;&nbsp;오상헌</li>
        <li>청소년 보호 책임자&nbsp;&nbsp;&nbsp;오상헌</li>
      </ul>
    </div>

    <div class="footer__sns">
      <ul class="footer__sns-list">
        <li><a href="https://www.facebook.com/profile.php?id=100091992696235&mibextid=LQQJ4d" target="_blank"
            class="sns-facebook">facebook</a></li>
        <li><a href="https://instagram.com/arte_co_kr?igshid=YmMyMTA2M2Y=" target="_blank"
            class="sns-insta">instagram</a></li>
        <li><a href="https://twitter.com/arte_co_kr" target="_blank" class="sns-twitter">twitter</a></li>
        <li><a href="https://www.youtube.com/channel/UCPglj7zGwmOlH8_31Tpgh8Q" target="_blank"
            class="sns-youtube">youtube</a></li>
      </ul>
    </div>

    <div class="footer__qr">
      <ul class="qr-list">
        <li>
          <img src="../assets/images/common/qr_google.png" class="qr_normal" alt="GET IT ON Goole Play">
          <img src="../assets/images/common/qr_google_dark.png" class="qr_dark" alt="GET IT ON Goole Play">
          <a href="https://play.google.com/store/apps/details?id=kr.co.arte.android" target="_blank"
            class="btn-googleplay">googleplay</a>
        </li>
        <li>
          <img src="../assets/images/common/qr_apple.png" class="qr_normal" alt="Download on the App Stor">
          <img src="../assets/images/common/qr_apple_dark.png" class="qr_dark" alt="Download on the App Stor">
          <a href="https://itunes.apple.com/app/id6448519296" target="_blank" class="btn-appstore">appstore</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="footer__bottom">
  <span href="#" class="footer__logo">한경아르떼</span>
  <address class="footer__copyright">ⓒ Arte. All Rights Reserved</address>
</div>