@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard Bold'),
    url('../fonts/Pretendard-Bold.subset.woff2') format('woff2'),
    url('../fonts/Pretendard-Bold.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src: local('Pretendard SemiBold'),
    url('../fonts/Pretendard-SemiBold.subset.woff2') format('woff2'),
    url('../fonts/Pretendard-SemiBold.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: local('Pretendard Medium'),
    url('../fonts/Pretendard-Medium.subset.woff2') format('woff2'),
    url('../fonts/Pretendard-Medium.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard Regular'),
    url('../fonts/Pretendard-Regular.subset.woff2') format('woff2'),
    url('../fonts/Pretendard-Regular.subset.woff') format('woff');
}

@font-face {
  font-family: 'Faktum';
  font-weight: 500;
  font-display: swap;
  src: local('Pretendard SemiBold'),
    url('../fonts/Faktum-Medium.woff2') format('woff2'),
    url('../fonts/Faktum-Medium.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Faktum';
  font-weight: 300;
  font-display: swap;
  src: local('Faktum'),
    url('../fonts/Faktum-LightItalic.woff2') format('woff2'),
    url('../fonts/Faktum-LightItalic.woff') format('woff');
  font-style: italic;
  font-style: normal;
}

@font-face {
  font-family: 'Faktum';
  font-style: normal;
  font-display: swap;
  src: local('Faktum'),
    url('../fonts/Faktum-Regular.woff2') format('woff2'),
    url('../fonts/Faktum-Regular.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Faktum';
  font-weight: 300;
  font-display: swap;
  src: local('Faktum'),
    url('../fonts/Faktum-Light.woff2') format('woff2'),
    url('../fonts/Faktum-Light.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'PPEditorialNew';
  font-weight: normal;
  font-display: swap;
  src: local('Faktum'),
    url('../fonts/PPEditorialNew-Regular.woff2') format('woff2'),
    url('../fonts/PPEditorialNew-Regular.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'PPEditorialNew';
  font-weight: normal;
  font-display: swap;
  src: local('PP Editorial New'),
    url('../fonts/PPEditorialNew-Italic.woff2') format('woff2'),
    url('../fonts/PPEditorialNew-Italic.woff') format('woff');
  font-style: italic;
}