@charset "utf-8";

.footer {
  position: relative;
  font-size: 14px;
  padding: 24px 48px 48px;
  color: #757573;
  background-color: $lightW;
  border-top: 1px solid $light;

  &__inner {
    position: relative;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 60px;
  }

  .sp-bar-list {
    overflow: hidden;
    margin: 0 -16px;

    li {
      position: relative;
      margin-left: -1px;
      padding: 0 16px;
      line-height: 1;

      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        display: inline-block;
        width: 1px;
        height: 14px;
        margin-top: -7px;
        background: #E5E5E5;
        content: "";
      }

      // &:first-child {
      //   padding-left: 0;

      //   &:before {
      //     display: none;
      //   }
      // }
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;

    padding: 11px 0;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: #444;

    li {
      margin-bottom: 16px;
    }

    &.sp-bar-list {
      margin-right: 190px;
    }
  }

  &__infobox {
    font-size: 13px;
    color: #757573;
  }

  &__address {
    margin-bottom: 7px;
  }

  &__service-num {
    margin-bottom: 9px;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin-top: 9px;

    li {
      margin-bottom: 11px;
    }
  }

  &__family {
    position: absolute;
    top: 0;
    right: 0;
    width: 189px;

    .dropdown {
      width: 100%;
      background-color: #fff;

      &__list {
        background-color: #fff;
      }
    }

    // &-select {
    //   $selectBg: "data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.833252 0.916992L4.99992 5.08366L9.16659 0.916992H0.833252Z' fill='%23444444'/%3E%3C/svg%3E";
    //   width: 100%;
    //   height: 36px;
    //   padding: 5px 12px;
    //   font-weight: 600;
    //   font-size: 12px;
    //   line-height: 1.2;
    //   border: 1px solid #DBD3C7;
    //   border-radius: 4px;
    //   @include bgSet($selectBg, 8.33px auto, 162px 15px);
    //   background-color: transparent;
    //   color: $dark;
    // }
  }

  &__block {
    position: relative;
    display: flex;
    margin-top: 30px;
  }

  &__sns {
    display: flex;
    justify-content: center;
    flex: 1;

    &-list {
      display: inline-flex;
    }

    a {
      display: inline-block;
      width: 34px;
      height: 34px;
      margin: 0 8px;
      font-size: 0;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 100% auto;
      vertical-align: top;
    }

    .sns-facebook {
      @include bgSet(svgIcon(sns-facebook, $black));
    }

    .sns-insta {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.676471' y='0.676471' width='44.6471' height='44.6471' rx='22.3235' fill='%231C1C1C' stroke='black' stroke-width='1.35294'/%3E%3Cpath d='M23.6764 10.147V10.1468H23C19.6855 10.1468 19.2623 10.1628 17.9533 10.2182L17.9533 10.2181L17.9487 10.2184C16.5867 10.2853 15.6339 10.499 14.7801 10.8305L14.7801 10.8304L14.7782 10.8312C13.8991 11.1755 13.1359 11.6406 12.3904 12.3899C11.6416 13.1341 11.1713 13.8975 10.8304 14.7805C10.4991 15.6341 10.2855 16.5868 10.2186 17.9484L10.2186 17.9484L10.2185 17.9511C10.1592 19.263 10.147 19.6871 10.147 22.9997C10.147 26.3142 10.163 26.7374 10.2184 28.0464L10.2186 28.0511C10.2856 29.4089 10.4991 30.3656 10.8307 31.2196L10.8314 31.2215C11.1757 32.1005 11.6409 32.8638 12.3901 33.6092C13.1345 34.3582 13.8981 34.8286 14.7813 35.1695L14.7828 35.17C15.6335 35.4961 16.5887 35.714 17.9486 35.7811L17.9513 35.7812C19.2632 35.8405 19.6873 35.8527 23 35.8527C26.3144 35.8527 26.7376 35.8366 28.0466 35.7813L28.0514 35.781C29.4116 35.714 30.3665 35.4953 31.2166 35.1702L31.2166 35.1702L31.2217 35.1682C32.1007 34.824 32.8639 34.3588 33.6093 33.6097C34.3578 32.8659 34.8287 32.1061 35.1701 31.2173L35.1703 31.2169C35.4964 30.3661 35.7143 29.411 35.7813 28.0511L35.7814 28.0484C35.8407 26.7365 35.8529 26.3124 35.8529 22.9997C35.8529 19.6853 35.8369 19.2621 35.7815 17.953L35.7815 17.953L35.7813 17.9483C35.7143 16.5888 35.4957 15.6287 35.17 14.7818L35.1685 14.778C34.8242 13.8989 34.3591 13.1357 33.6099 12.3903C32.8664 11.6421 32.1068 11.1713 31.2185 10.8299C30.3649 10.4987 29.4085 10.2853 28.0514 10.2184L28.0486 10.2182C26.8318 10.1632 26.3788 10.1488 23.6764 10.147ZM22.7373 13.6568L22.7875 13.6918H23C26.2449 13.6918 26.6233 13.7077 27.8934 13.7619C29.0038 13.8141 29.5765 13.9964 29.9365 14.137L29.9383 14.1377C30.4211 14.3248 30.7421 14.5347 31.109 14.8975C31.4641 15.2529 31.6746 15.5766 31.8627 16.0622L31.8634 16.064C32.0041 16.424 32.1864 16.9966 32.2386 18.107C32.2927 19.3771 32.3087 19.7563 32.3087 23.0005C32.3087 26.2438 32.2927 26.6227 32.2342 27.8903C32.1742 28.9982 31.9927 29.5724 31.8523 29.9341C31.6545 30.4233 31.446 30.7456 31.0895 31.1092C30.7299 31.4642 30.4013 31.6755 29.9191 31.8639L29.9163 31.865C29.565 32.0039 28.9841 32.1869 27.8662 32.2391L27.8623 32.2393C26.5896 32.2933 26.2151 32.3092 22.9665 32.3092C19.7141 32.3092 19.3442 32.2933 18.0681 32.2347C16.958 32.1745 16.3755 31.9924 16.0149 31.8524C15.5188 31.6543 15.2014 31.4467 14.8456 31.0909C14.4803 30.7255 14.264 30.399 14.0906 29.9307L14.0872 29.9218L14.0837 29.9129C13.9439 29.566 13.7635 28.9871 13.7036 27.8688C13.701 27.7948 13.6986 27.7238 13.6962 27.6551C13.6583 26.5505 13.6402 26.0246 13.6402 22.9822C13.6402 19.9469 13.6582 19.4167 13.696 18.3027C13.6985 18.2312 13.701 18.1574 13.7036 18.0803C13.7635 16.9624 13.9438 16.3847 14.084 16.0355L14.0883 16.0249L14.0922 16.0141C14.2637 15.5413 14.4773 15.2274 14.8458 14.8581C15.2097 14.4942 15.5263 14.2782 16.0023 14.1016L16.0023 14.1017L16.0122 14.0978C16.3737 13.9572 16.9391 13.7753 18.052 13.7193C18.0854 13.7181 18.1181 13.7169 18.1503 13.7158C19.3234 13.6735 19.7687 13.6575 22.7373 13.6568ZM23 16.0736C19.1698 16.0736 16.0724 19.1754 16.0724 23.0012C16.0724 26.8314 19.1742 29.9288 23 29.9288C26.8301 29.9288 29.9275 26.827 29.9275 23.0012C29.9275 19.1711 26.8258 16.0736 23 16.0736ZM23 26.3838C21.1298 26.3838 19.6174 24.8714 19.6174 23.0012C19.6174 21.131 21.1298 19.6186 23 19.6186C24.8701 19.6186 26.3826 21.131 26.3826 23.0012C26.3826 24.8714 24.8701 26.3838 23 26.3838ZM29.5007 18.6391C30.6775 18.6391 31.6408 17.6852 31.6408 16.5005C31.6408 15.3196 30.6761 14.3649 29.5007 14.3649C28.3244 14.3649 27.3621 15.3205 27.3621 16.5005C27.3621 17.6822 28.3178 18.6391 29.5007 18.6391Z' fill='white' stroke='black' stroke-width='1.35294'/%3E%3C/svg%3E");
    }

    .sns-twitter {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.676471' y='0.676471' width='44.6471' height='44.6471' rx='22.3235' fill='%231C1C1C' stroke='black' stroke-width='1.35294'/%3E%3Cpath d='M35.3921 15.3236C35.2191 15.251 35.0238 15.2534 34.8527 15.3303C34.7271 15.3867 34.6001 15.4405 34.472 15.4916C34.7381 15.0694 34.9523 14.6098 35.1056 14.1224C35.1898 13.8546 35.0999 13.5627 34.8797 13.3886C34.6594 13.2146 34.3546 13.1947 34.1136 13.3386C33.3129 13.8165 32.4357 14.1781 31.5041 14.4081C30.497 13.4477 29.1384 12.8528 27.6422 12.8528C24.4946 12.8528 21.9711 15.4628 21.9711 18.6453C21.9711 18.7891 21.9764 18.9309 21.9866 19.0706C18.3815 18.6692 15.2007 16.7979 13.0185 14.0589C12.8789 13.8837 12.6617 13.789 12.4383 13.8059C12.215 13.8228 12.0145 13.9491 11.9029 14.1433C11.412 14.9974 11.1348 15.9874 11.1348 17.0576C11.1348 18.1407 11.4252 19.1536 11.9303 20.0203C11.763 19.9799 11.5839 20.0044 11.4311 20.0934C11.2231 20.2146 11.0953 20.4372 11.0953 20.6779V20.7395C11.0953 22.5601 11.917 24.1912 13.2082 25.2565C13.1402 25.2935 13.0781 25.3423 13.0252 25.4019C12.8673 25.5799 12.8145 25.8279 12.8862 26.0548C13.4342 27.7883 14.7585 29.1752 16.4528 29.7698C15.1295 30.501 13.6136 30.9154 12.013 30.9154C11.6386 30.9154 11.2711 30.897 10.9066 30.8519C10.5942 30.8133 10.2965 30.9951 10.1883 31.2906C10.08 31.5861 10.1899 31.9173 10.4533 32.0895C12.7773 33.6088 15.5252 34.4999 18.4939 34.4999C28.143 34.4999 33.3719 26.2991 33.3719 19.2711V19.2613C33.3719 19.1609 33.3719 19.0534 33.37 18.9417C34.2951 18.214 35.0976 17.3266 35.7432 16.3361C35.8527 16.1681 35.882 15.9601 35.8231 15.7683C35.7643 15.5766 35.6234 15.4208 35.4385 15.3431L35.3921 15.3236Z' fill='white' stroke='black' stroke-width='1.35294' stroke-linejoin='round'/%3E%3C/svg%3E");
    }

    .sns-youtube {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.676471' y='0.676471' width='44.6471' height='44.6471' rx='22.3235' fill='%231C1C1C' stroke='black' stroke-width='1.35294'/%3E%3Cpath d='M35.3331 17.3202L35.3271 17.2878L35.318 17.2562C34.9621 16.0235 33.9791 15.0635 32.7223 14.7251L32.7223 14.725L32.7171 14.7237C32.1735 14.5819 31.2808 14.4864 30.3031 14.4171C29.3068 14.3464 28.1637 14.2997 27.0863 14.2686C26.0077 14.2375 24.9895 14.2219 24.2413 14.2141C23.8671 14.2103 23.5601 14.2083 23.3465 14.2073C23.2396 14.2069 23.1561 14.2066 23.0993 14.2065L23.0343 14.2064L23.0175 14.2064L23.0132 14.2064L23.0125 14.2064L23.0122 14.2064L23.012 14.2064L23.0117 14.2064L23.0111 14.2064L23.0068 14.2064L22.99 14.2063L22.9251 14.2064C22.8683 14.2064 22.7849 14.2065 22.6783 14.2068C22.4649 14.2075 22.1584 14.209 21.7846 14.2125C21.0374 14.2193 20.0203 14.2337 18.9421 14.2641C17.8651 14.2945 16.7217 14.3409 15.7236 14.4121C14.7441 14.4819 13.8479 14.579 13.2986 14.7242L13.2986 14.7242L13.2942 14.7254C12.0451 15.0644 11.0568 16.0226 10.7039 17.258L10.6955 17.2876L10.6897 17.3178C10.3218 19.2583 10.1389 21.223 10.1473 23.1973C10.1435 25.1578 10.3256 27.1188 10.6896 29.0471L10.6954 29.0776L10.7039 29.1074C11.0568 30.3428 12.0447 31.3008 13.292 31.6439L13.292 31.644L13.3007 31.6462C13.8443 31.788 14.7374 31.8836 15.7156 31.9529C16.7124 32.0235 17.8561 32.0703 18.9343 32.1014C20.0135 32.1325 21.0323 32.148 21.781 32.1558C22.1555 32.1597 22.4627 32.1616 22.6765 32.1626C22.7834 32.1631 22.8669 32.1633 22.9239 32.1634L22.9889 32.1635L23.0057 32.1636L23.01 32.1636H23.0112L23.0115 32.1636C23.0115 32.1636 23.0116 32.1636 23.0116 31.4871C23.0116 32.1636 23.0116 32.1636 23.0117 32.1636L23.012 32.1636H23.0131L23.0175 32.1636L23.0342 32.1635L23.099 32.1634C23.1558 32.1633 23.2391 32.1631 23.3457 32.1626C23.5588 32.1616 23.8652 32.1597 24.2387 32.1558C24.9854 32.148 26.0018 32.1325 27.0791 32.1014C28.1554 32.0703 29.2979 32.0235 30.2951 31.9529C31.2741 31.8835 32.1682 31.788 32.7156 31.6467L32.7156 31.6467L32.7249 31.6442C33.9791 31.301 34.962 30.3431 35.318 29.1091L35.3272 29.0773L35.3332 29.0448C35.6901 27.1169 35.8645 25.1564 35.8523 23.1964C35.8645 21.2248 35.6941 19.2612 35.3331 17.3202ZM25.545 23.1952L21.249 25.5985V20.7813L25.545 23.1952Z' fill='white' stroke='black' stroke-width='1.35294'/%3E%3C/svg%3E");
    }

    .sns-kakaoview {
      background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='33' height='33' rx='16.5' fill='%231C1C1C' stroke='black'/%3E%3Cpath d='M25.3784 11.9556L25.6701 11.6179L25.3676 11.2898L25 11.6288C25.3676 11.2898 25.3674 11.2896 25.3671 11.2894L25.3665 11.2887L25.3648 11.2868L25.3592 11.2809L25.3399 11.2604C25.3233 11.2431 25.2996 11.2185 25.2687 11.1874C25.2071 11.1251 25.1173 11.0367 25.0008 10.9282C24.7681 10.7112 24.4282 10.4131 23.994 10.0827C23.1275 9.42338 21.8751 8.62716 20.3404 8.09463C18.8028 7.56109 16.9758 7.29042 14.9747 7.69415C12.9716 8.09826 10.8294 9.17096 8.653 11.2688L8.31654 11.5931L8.61741 11.9507L9.77106 13.3218L10.1486 13.7705L10.5315 13.3273L10.5317 13.3272L10.5317 13.3272L10.532 13.3268L10.5335 13.325L10.5438 13.3135C10.5536 13.3026 10.5691 13.2855 10.5901 13.2628C10.6323 13.2176 10.6968 13.1501 10.7824 13.0655C10.9537 12.8963 11.209 12.6596 11.539 12.3956C12.2009 11.8663 13.1528 11.2362 14.3221 10.818C15.4878 10.401 16.8664 10.1952 18.3968 10.5056C19.9267 10.8159 21.6431 11.6492 23.4741 13.3648L23.854 13.7208L24.1944 13.3267L25.3784 11.9556ZM8.62158 23.0444L8.32993 23.3821L8.63244 23.7102L9 23.3712C8.63244 23.7102 8.63264 23.7104 8.63287 23.7106L8.63348 23.7113L8.63523 23.7132L8.64079 23.7191L8.66014 23.7396C8.67667 23.7569 8.70044 23.7815 8.73126 23.8126C8.79288 23.8749 8.88271 23.9633 8.99917 24.0718C9.23195 24.2888 9.57185 24.5869 10.006 24.9173C10.8725 25.5766 12.125 26.3728 13.6596 26.9054C15.1972 27.4389 17.0242 27.7096 19.0253 27.3059C21.0284 26.9017 23.1706 25.829 25.347 23.7312L25.6835 23.4069L25.3826 23.0493L24.2289 21.6782L23.8514 21.2295L23.4685 21.6727L23.4683 21.6728L23.4683 21.6728L23.468 21.6732L23.4665 21.675L23.4562 21.6865C23.4464 21.6974 23.4309 21.7145 23.4099 21.7372C23.3677 21.7825 23.3032 21.8499 23.2176 21.9345C23.0463 22.1037 22.791 22.3405 22.461 22.6044C21.7991 23.1337 20.8472 23.7638 19.6779 24.182C18.5122 24.599 17.1336 24.8048 15.6032 24.4944C14.0733 24.1841 12.3569 23.3508 10.5259 21.6352L10.146 21.2792L9.80565 21.6733L8.62158 23.0444ZM20.3335 12.5111C19.3468 11.8518 18.1867 11.4999 17 11.4999C16.2121 11.4999 15.4318 11.6551 14.7039 11.9566C13.9759 12.2581 13.3144 12.7001 12.7573 13.2572C12.2001 13.8144 11.7581 14.4758 11.4566 15.2038C11.1551 15.9318 10.9999 16.712 10.9999 17.4999C10.9999 18.6866 11.3518 19.8467 12.0111 20.8333C12.6704 21.82 13.6075 22.5891 14.7039 23.0432C15.8002 23.4973 17.0067 23.6161 18.1706 23.3846C19.3345 23.1531 20.4036 22.5817 21.2427 21.7426C22.0818 20.9034 22.6533 19.8344 22.8848 18.6705C23.1163 17.5066 22.9975 16.3002 22.5434 15.2038C22.0892 14.1075 21.3202 13.1704 20.3335 12.5111ZM18.8674 20.2947C18.3147 20.6641 17.6648 20.8612 17 20.8613C16.5585 20.8613 16.1214 20.7744 15.7136 20.6054C15.3057 20.4365 14.9352 20.1889 14.623 19.8768C14.3109 19.5647 14.0633 19.1941 13.8943 18.7863C13.7254 18.3785 13.6384 17.9413 13.6384 17.4999C13.6384 16.8351 13.8356 16.1852 14.2049 15.6325C14.5743 15.0797 15.0992 14.6489 15.7135 14.3944C16.3277 14.14 17.0035 14.0735 17.6556 14.2031C18.3076 14.3328 18.9066 14.653 19.3767 15.123C19.8468 15.5931 20.1669 16.192 20.2967 16.8441C20.4264 17.4961 20.3598 18.1719 20.1054 18.7862C19.851 19.4004 19.4202 19.9253 18.8674 20.2947Z' fill='white' stroke='black'/%3E%3C/svg%3E");
    }
  }

  &__qr {
    .qr-list {
      display: flex;

      >li {
        >a {
          display: block;
          width: 64px;
          height: 100%;
          font-size: 0;

          &.btn-googleplay {
            background: url("data:image/svg+xml,%3Csvg width='60' height='18' viewBox='0 0 60 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M57.7778 17.3574H2.22222C1.00056 17.3574 0 16.3805 0 15.1878V2.16988C0 0.977119 1.00056 0.000234381 2.22222 0.000234381H57.7778C58.9994 0.000234381 60 0.977119 60 2.16988V15.1878C60 16.3805 58.9994 17.3574 57.7778 17.3574Z' fill='black'/%3E%3Cpath d='M57.7778 0.34792C58.8067 0.34792 59.6439 1.16534 59.6439 2.16988V15.1878C59.6439 16.1923 58.8067 17.0097 57.7778 17.0097H2.22222C1.19333 17.0097 0.356111 16.1923 0.356111 15.1878V2.16988C0.356111 1.16534 1.19333 0.34792 2.22222 0.34792H57.7778ZM57.7778 0.000234381H2.22222C1.00056 0.000234381 0 0.977119 0 2.16988V15.1878C0 16.3805 1.00056 17.3574 2.22222 17.3574H57.7778C58.9994 17.3574 60 16.3805 60 15.1878V2.16988C60 0.977119 58.9994 0.000234381 57.7778 0.000234381Z' fill='%23A6A6A6'/%3E%3Cpath d='M21.0749 4.44563C21.0749 4.80796 20.9638 5.09815 20.745 5.31458C20.4933 5.57114 20.1655 5.70023 19.7638 5.70023C19.38 5.70023 19.0522 5.56897 18.7833 5.31024C18.5138 5.04771 18.3794 4.72552 18.3794 4.33986C18.3794 3.95421 18.5138 3.63201 18.7833 3.37166C19.0522 3.11076 19.38 2.97949 19.7638 2.97949C19.955 2.97949 20.1372 3.018 20.3111 3.0896C20.4844 3.16174 20.6255 3.25938 20.7277 3.37979L20.4955 3.60869C20.3172 3.40312 20.0744 3.30169 19.7638 3.30169C19.4838 3.30169 19.2411 3.39715 19.035 3.58971C18.8311 3.7828 18.7288 4.03286 18.7288 4.33986C18.7288 4.64687 18.8311 4.89909 19.035 5.09219C19.2411 5.28257 19.4838 5.38021 19.7638 5.38021C20.0611 5.38021 20.3111 5.28257 20.5083 5.09002C20.6383 4.96255 20.7122 4.78681 20.7316 4.56225H19.7638V4.24874H21.0549C21.0705 4.31654 21.0749 4.38217 21.0749 4.44563Z' fill='white' stroke='white' stroke-width='0.16' stroke-miterlimit='10'/%3E%3Cpath d='M23.1225 3.35805H21.9097V4.18252H23.0031V4.49604H21.9097V5.3205H23.1225V5.63998H21.5664V3.03857H23.1225V3.35805Z' fill='white' stroke='white' stroke-width='0.16' stroke-miterlimit='10'/%3E%3Cpath d='M24.5682 5.63998H24.2248V3.35805H23.481V3.03857H25.3126V3.35805H24.5682V5.63998Z' fill='white' stroke='white' stroke-width='0.16' stroke-miterlimit='10'/%3E%3Cpath d='M26.6382 5.63998V3.03857H26.981V5.63998H26.6382Z' fill='white' stroke='white' stroke-width='0.16' stroke-miterlimit='10'/%3E%3Cpath d='M28.5008 5.63998H28.1602V3.35805H27.4136V3.03857H29.2475V3.35805H28.5008V5.63998Z' fill='white' stroke='white' stroke-width='0.16' stroke-miterlimit='10'/%3E%3Cpath d='M32.715 5.3059C32.4523 5.56897 32.1267 5.70023 31.7384 5.70023C31.3478 5.70023 31.0223 5.56897 30.7595 5.3059C30.4973 5.04337 30.3667 4.72118 30.3667 4.33986C30.3667 3.95855 30.4973 3.63635 30.7595 3.37383C31.0223 3.11076 31.3478 2.97949 31.7384 2.97949C32.1245 2.97949 32.45 3.11076 32.7128 3.376C32.9773 3.64069 33.1078 3.96072 33.1078 4.33986C33.1078 4.72118 32.9773 5.04337 32.715 5.3059ZM31.0134 5.08785C31.2111 5.28257 31.4517 5.38021 31.7384 5.38021C32.0228 5.38021 32.2656 5.28257 32.4611 5.08785C32.6584 4.89312 32.7584 4.64307 32.7584 4.33986C32.7584 4.03665 32.6584 3.7866 32.4611 3.59188C32.2656 3.39715 32.0228 3.29952 31.7384 3.29952C31.4517 3.29952 31.2111 3.39715 31.0134 3.59188C30.8161 3.7866 30.7161 4.03665 30.7161 4.33986C30.7161 4.64307 30.8161 4.89312 31.0134 5.08785Z' fill='white' stroke='white' stroke-width='0.16' stroke-miterlimit='10'/%3E%3Cpath d='M33.5898 5.63998V3.03857H34.0065L35.3021 5.06177H35.3171L35.3021 4.56167V3.03857H35.6448V5.63998H35.2871L33.9304 3.51698H33.9154L33.9304 4.01926V5.63998H33.5898Z' fill='white' stroke='white' stroke-width='0.16' stroke-miterlimit='10'/%3E%3Cpath d='M30.282 9.43893C29.2381 9.43893 28.3853 10.2146 28.3853 11.2848C28.3853 12.3463 29.2381 13.13 30.282 13.13C31.3281 13.13 32.1809 12.3463 32.1809 11.2848C32.1809 10.2146 31.3281 9.43893 30.282 9.43893ZM30.282 12.4032C29.7092 12.4032 29.2164 11.9416 29.2164 11.2848C29.2164 10.6192 29.7092 10.1658 30.282 10.1658C30.8547 10.1658 31.3497 10.6192 31.3497 11.2848C31.3497 11.9416 30.8547 12.4032 30.282 12.4032ZM26.1436 9.43893C25.0975 9.43893 24.247 10.2146 24.247 11.2848C24.247 12.3463 25.0975 13.13 26.1436 13.13C27.1892 13.13 28.0403 12.3463 28.0403 11.2848C28.0403 10.2146 27.1892 9.43893 26.1436 9.43893ZM26.1436 12.4032C25.5703 12.4032 25.0759 11.9416 25.0759 11.2848C25.0759 10.6192 25.5703 10.1658 26.1436 10.1658C26.7164 10.1658 27.2092 10.6192 27.2092 11.2848C27.2092 11.9416 26.7164 12.4032 26.1436 12.4032ZM21.2192 10.0047V10.789H23.1375C23.0814 11.2273 22.9314 11.5495 22.7014 11.774C22.4214 12.0452 21.9853 12.3463 21.2192 12.3463C20.0386 12.3463 19.1142 11.416 19.1142 10.2634C19.1142 9.11077 20.0386 8.18053 21.2192 8.18053C21.8575 8.18053 22.322 8.42408 22.6647 8.73976L23.2309 8.18704C22.7514 7.74009 22.1136 7.39675 21.2192 7.39675C19.6003 7.39675 18.2397 8.68281 18.2397 10.2634C18.2397 11.844 19.6003 13.13 21.2192 13.13C22.0942 13.13 22.7514 12.8502 23.2681 12.3251C23.7975 11.8082 23.9625 11.0814 23.9625 10.4945C23.9625 10.3122 23.947 10.1446 23.9192 10.0047H21.2192ZM41.3558 10.6127C41.1997 10.1999 40.7181 9.43893 39.737 9.43893C38.7647 9.43893 37.9553 10.1869 37.9553 11.2848C37.9553 12.3186 38.7564 13.13 39.8303 13.13C40.6986 13.13 41.1997 12.6131 41.4058 12.3121L40.7614 11.8928C40.5464 12.1998 40.2536 12.4032 39.8303 12.4032C39.4097 12.4032 39.1081 12.215 38.9147 11.844L41.4431 10.8226L41.3558 10.6127ZM38.7781 11.2273C38.7564 10.5156 39.3442 10.1511 39.7653 10.1511C40.0953 10.1511 40.3753 10.3122 40.4686 10.5427L38.7781 11.2273ZM36.7231 13.0178H37.5542V7.59364H36.7231V13.0178ZM35.362 9.85008H35.3342C35.1475 9.6342 34.7914 9.43893 34.3403 9.43893C33.3936 9.43893 32.5281 10.2504 32.5281 11.2907C32.5281 12.3251 33.3936 13.13 34.3403 13.13C34.7914 13.13 35.1475 12.9331 35.3342 12.7108H35.362V12.9755C35.362 13.6811 34.9758 14.0603 34.3531 14.0603C33.8453 14.0603 33.5303 13.7023 33.4003 13.4012L32.6775 13.6958C32.8859 14.185 33.4375 14.7871 34.3531 14.7871C35.3275 14.7871 36.1497 14.2273 36.1497 12.8653V9.55121H35.362V9.85008ZM34.4114 12.4032C33.8386 12.4032 33.3592 11.9351 33.3592 11.2907C33.3592 10.6404 33.8386 10.1658 34.4114 10.1658C34.9759 10.1658 35.4209 10.6404 35.4209 11.2907C35.4209 11.9351 34.9759 12.4032 34.4114 12.4032ZM45.247 7.59364H43.2592V13.0178H44.0881V10.9626H45.247C46.1675 10.9626 47.0703 10.3122 47.0703 9.27783C47.0703 8.24399 46.1653 7.59364 45.247 7.59364ZM45.2686 10.2081H44.0881V8.34814H45.2686C45.8875 8.34814 46.2408 8.84987 46.2408 9.27783C46.2408 9.69766 45.8875 10.2081 45.2686 10.2081ZM50.3925 9.42862C49.7936 9.42862 49.1708 9.68681 48.9147 10.2591L49.6503 10.5601C49.8086 10.2591 50.0997 10.1614 50.4075 10.1614C50.8375 10.1614 51.2736 10.4136 51.2803 10.859V10.9159C51.1303 10.8313 50.8092 10.706 50.4142 10.706C49.622 10.706 48.8147 11.1318 48.8147 11.9264C48.8147 12.6533 49.4636 13.1214 50.1931 13.1214C50.7508 13.1214 51.0586 12.8756 51.252 12.5898H51.2803V13.0091H52.0808V10.9284C52.0808 9.96669 51.3453 9.42862 50.3925 9.42862ZM50.2925 12.401C50.0214 12.401 49.6436 12.2698 49.6436 11.9416C49.6436 11.5218 50.1147 11.3607 50.5225 11.3607C50.8875 11.3607 51.0586 11.4393 51.2803 11.5429C51.2153 12.0452 50.7725 12.401 50.2925 12.401ZM54.9975 9.54741L54.0447 11.8988H54.0164L53.0314 9.54741H52.1375L53.6175 12.8333L52.7731 14.6618H53.6392L55.9197 9.54741H54.9975ZM47.5258 13.0178H48.357V7.59364H47.5258V13.0178Z' fill='white'/%3E%3Cpath d='M4.63726 3.2716C4.50671 3.40503 4.43115 3.61278 4.43115 3.88181V13.4782C4.43115 13.7472 4.50671 13.955 4.63726 14.0884L4.66949 14.1177L10.1773 8.74237V8.61545L4.66949 3.24014L4.63726 3.2716Z' fill='url(%23paint0_linear_8123_42422)'/%3E%3Cpath d='M12.0116 10.5352L10.1777 8.74248V8.61556L12.0138 6.82289L12.055 6.84621L14.2294 8.05416C14.85 8.39697 14.85 8.96108 14.2294 9.30605L12.055 10.5118L12.0116 10.5352Z' fill='url(%23paint1_linear_8123_42422)'/%3E%3Cpath d='M12.0554 10.5116L10.1782 8.6788L4.63818 14.0883C4.84429 14.2998 5.18041 14.3253 5.56263 14.1138L12.0554 10.5116Z' fill='url(%23paint2_linear_8123_42422)'/%3E%3Cpath d='M12.0554 6.8459L5.56263 3.24374C5.18041 3.03437 4.84429 3.05986 4.63818 3.2714L10.1782 8.67871L12.0554 6.8459Z' fill='url(%23paint3_linear_8123_42422)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_8123_42422' x1='9.68824' y1='13.5781' x2='2.40794' y2='6.1214' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2300A0FF'/%3E%3Cstop offset='0.0066' stop-color='%2300A1FF'/%3E%3Cstop offset='0.2601' stop-color='%2300BEFF'/%3E%3Cstop offset='0.5122' stop-color='%2300D2FF'/%3E%3Cstop offset='0.7604' stop-color='%2300DFFF'/%3E%3Cstop offset='1' stop-color='%2300E3FF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_8123_42422' x1='15.0375' y1='8.67841' x2='4.28329' y2='8.67841' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFE000'/%3E%3Cstop offset='0.4087' stop-color='%23FFBD00'/%3E%3Cstop offset='0.7754' stop-color='%23FFA500'/%3E%3Cstop offset='1' stop-color='%23FF9C00'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_8123_42422' x1='11.0346' y1='7.68245' x2='1.16195' y2='-2.42945' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF3A44'/%3E%3Cstop offset='1' stop-color='%23C31162'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_8123_42422' x1='3.24365' y1='17.2809' x2='7.65224' y2='12.7655' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2332A071'/%3E%3Cstop offset='0.0685' stop-color='%232DA771'/%3E%3Cstop offset='0.4762' stop-color='%2315CF74'/%3E%3Cstop offset='0.8009' stop-color='%2306E775'/%3E%3Cstop offset='1' stop-color='%2300F076'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") no-repeat center top;
            background-size: 60px auto;
          }

          &.btn-appstore {
            background: url("data:image/svg+xml,%3Csvg width='60' height='18' viewBox='0 0 60 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M59.6663 15.334C59.6663 16.2577 58.9025 17.0059 57.9578 17.0059H2.04382C1.09951 17.0059 0.333008 16.2577 0.333008 15.334V2.00078C0.333008 1.07751 1.09951 0.32666 2.04382 0.32666H57.9573C58.9025 0.32666 59.6659 1.07751 59.6659 2.00078L59.6663 15.334Z' fill='black'/%3E%3Cpath d='M57.7778 0.346885C58.8067 0.346885 59.6439 1.16318 59.6439 2.16634V15.1663C59.6439 16.1695 58.8067 16.9858 57.7778 16.9858H2.22222C1.19333 16.9858 0.356111 16.1695 0.356111 15.1663V2.16634C0.356111 1.16318 1.19333 0.346885 2.22222 0.346885H57.7778ZM57.7778 -0.000322636H2.22222C1.00056 -0.000322636 0 0.975219 0 2.16634V15.1663C0 16.3575 1.00056 17.333 2.22222 17.333H57.7778C58.9994 17.333 60 16.3575 60 15.1663V2.16634C60 0.975219 58.9994 -0.000322636 57.7778 -0.000322636Z' fill='%23A6A6A6'/%3E%3Cpath d='M13.3905 8.57288C13.3776 7.17625 14.5634 6.49678 14.6176 6.46515C13.946 5.51051 12.9051 5.38008 12.5394 5.36968C11.6651 5.27998 10.8171 5.87971 10.3718 5.87971C9.91759 5.87971 9.23181 5.37835 8.4927 5.39308C7.54159 5.40738 6.65181 5.94428 6.16381 6.77801C5.1567 8.47798 5.90781 10.9761 6.8727 12.3502C7.35537 13.0232 7.91937 13.7746 8.65759 13.7482C9.37981 13.7191 9.64959 13.2992 10.5211 13.2992C11.3847 13.2992 11.638 13.7482 12.3909 13.7313C13.166 13.7191 13.654 13.0553 14.1198 12.3762C14.6776 11.6049 14.9016 10.8453 14.9105 10.8063C14.8923 10.8002 13.4051 10.2468 13.3905 8.57288Z' fill='white'/%3E%3Cpath d='M11.9683 4.46575C12.3567 3.99211 12.6225 3.34775 12.5487 2.69385C11.9865 2.71811 11.2834 3.07301 10.8785 3.53625C10.5203 3.94445 10.2003 4.61351 10.2829 5.24271C10.9145 5.28865 11.5629 4.93201 11.9683 4.46575Z' fill='white'/%3E%3Cpath d='M23.8425 13.6516H22.8331L22.2802 11.9577H20.3585L19.8318 13.6516H18.8491L20.7531 7.88477H21.9291L23.8425 13.6516ZM22.1136 11.247L21.6136 9.74117C21.5607 9.58733 21.4616 9.22507 21.3153 8.6548H21.2976C21.2393 8.90007 21.1456 9.26233 21.0167 9.74117L20.5256 11.247H22.1136Z' fill='white'/%3E%3Cpath d='M28.7389 11.5216C28.7389 12.2288 28.5429 12.7878 28.1509 13.1981C27.7998 13.5634 27.3638 13.7459 26.8434 13.7459C26.2816 13.7459 25.8781 13.5491 25.6323 13.1557H25.6145V15.3462H24.6669V10.8625C24.6669 10.4179 24.6549 9.96157 24.6318 9.49357H25.4652L25.5181 10.1527H25.5358C25.8518 9.65607 26.3314 9.4082 26.9749 9.4082C27.4781 9.4082 27.8981 9.6019 28.2341 9.98974C28.5709 10.378 28.7389 10.8885 28.7389 11.5216ZM27.7736 11.5554C27.7736 11.1506 27.6803 10.817 27.4927 10.5544C27.2878 10.2805 27.0127 10.1436 26.6678 10.1436C26.4341 10.1436 26.2216 10.2198 26.0318 10.3702C25.8416 10.5219 25.7172 10.7199 25.6589 10.9652C25.6296 11.0796 25.6149 11.1732 25.6149 11.2468V11.9402C25.6149 12.2426 25.7101 12.4979 25.9003 12.7063C26.0905 12.9147 26.3376 13.0187 26.6416 13.0187C26.9985 13.0187 27.2763 12.8844 27.4749 12.6166C27.6741 12.3484 27.7736 11.9948 27.7736 11.5554Z' fill='white'/%3E%3Cpath d='M33.6448 11.5216C33.6448 12.2288 33.4488 12.7878 33.0563 13.1981C32.7056 13.5634 32.2696 13.7459 31.7492 13.7459C31.1874 13.7459 30.7839 13.5491 30.5385 13.1557H30.5208V15.3462H29.5732V10.8625C29.5732 10.4179 29.5612 9.96157 29.5381 9.49357H30.3714L30.4243 10.1527H30.4421C30.7576 9.65607 31.2372 9.4082 31.8812 9.4082C32.3839 9.4082 32.8039 9.6019 33.1408 9.98974C33.4763 10.378 33.6448 10.8885 33.6448 11.5216ZM32.6794 11.5554C32.6794 11.1506 32.5856 10.817 32.3981 10.5544C32.1932 10.2805 31.919 10.1436 31.5736 10.1436C31.3394 10.1436 31.1274 10.2198 30.9372 10.3702C30.747 10.5219 30.623 10.7199 30.5648 10.9652C30.5359 11.0796 30.5208 11.1732 30.5208 11.2468V11.9402C30.5208 12.2426 30.6159 12.4979 30.8052 12.7063C30.9954 12.9143 31.2425 13.0187 31.5474 13.0187C31.9043 13.0187 32.1821 12.8844 32.3808 12.6166C32.5799 12.3484 32.6794 11.9948 32.6794 11.5554Z' fill='white'/%3E%3Cpath d='M39.1283 12.0344C39.1283 12.5249 38.9537 12.924 38.603 13.2321C38.2177 13.5688 37.6812 13.737 36.9919 13.737C36.3554 13.737 35.8452 13.6174 35.459 13.3777L35.6785 12.6077C36.0945 12.853 36.551 12.976 37.0483 12.976C37.4052 12.976 37.683 12.8972 37.8825 12.7403C38.0812 12.5834 38.1803 12.3728 38.1803 12.1102C38.1803 11.8762 38.0985 11.6791 37.9345 11.5192C37.7714 11.3593 37.499 11.2106 37.1185 11.0733C36.083 10.6967 35.5657 10.1451 35.5657 9.41966C35.5657 8.94559 35.747 8.55689 36.1101 8.25443C36.4719 7.95153 36.9545 7.80029 37.5581 7.80029C38.0963 7.80029 38.5434 7.89173 38.9003 8.07416L38.6634 8.82729C38.3301 8.65049 37.9532 8.56209 37.5314 8.56209C37.1981 8.56209 36.9377 8.64226 36.751 8.80173C36.5932 8.94429 36.5141 9.11806 36.5141 9.32389C36.5141 9.55183 36.6043 9.74033 36.7857 9.88853C36.9434 10.0255 37.2301 10.1737 37.6461 10.3336C38.155 10.5333 38.5288 10.7669 38.7692 11.0347C39.0088 11.3016 39.1283 11.6357 39.1283 12.0344Z' fill='white'/%3E%3Cpath d='M42.2614 10.187H41.2169V12.2059C41.2169 12.7194 41.401 12.9759 41.7698 12.9759C41.9392 12.9759 42.0796 12.9616 42.1907 12.933L42.2169 13.6346C42.0303 13.7026 41.7845 13.7368 41.4801 13.7368C41.1058 13.7368 40.8134 13.6255 40.6023 13.4032C40.3921 13.1804 40.2863 12.8069 40.2863 12.2821V10.1861H39.6641V9.49275H40.2863V8.73139L41.2169 8.45752V9.49275H42.2614V10.187Z' fill='white'/%3E%3Cpath d='M46.9737 11.538C46.9737 12.1772 46.7862 12.702 46.4119 13.1123C46.0195 13.5348 45.4986 13.7454 44.8493 13.7454C44.2235 13.7454 43.7253 13.5431 43.3537 13.1383C42.9822 12.7336 42.7964 12.2227 42.7964 11.6069C42.7964 10.9626 42.9875 10.4348 43.3711 10.0244C43.7537 9.6136 44.2702 9.4082 44.9195 9.4082C45.5453 9.4082 46.0488 9.61057 46.4288 10.0157C46.7924 10.4088 46.9737 10.9162 46.9737 11.538ZM45.9906 11.5679C45.9906 11.1844 45.9066 10.8555 45.7364 10.5812C45.5377 10.2493 45.2537 10.0838 44.8857 10.0838C44.5048 10.0838 44.2155 10.2497 44.0168 10.5812C43.8466 10.856 43.7626 11.1901 43.7626 11.5853C43.7626 11.9688 43.8466 12.2977 44.0168 12.5715C44.2217 12.9035 44.5079 13.069 44.8773 13.069C45.2391 13.069 45.5231 12.9 45.7279 12.5629C45.9026 12.2834 45.9906 11.951 45.9906 11.5679Z' fill='white'/%3E%3Cpath d='M50.0538 10.3061C49.96 10.2892 49.86 10.2805 49.7551 10.2805C49.4218 10.2805 49.164 10.4031 48.9826 10.6488C48.8249 10.8655 48.7458 11.1394 48.7458 11.47V13.6518H47.7986L47.8075 10.8031C47.8075 10.3238 47.7955 9.88747 47.772 9.494H48.5973L48.632 10.2896H48.6582C48.7582 10.0162 48.916 9.79604 49.132 9.63094C49.3431 9.4823 49.5711 9.4082 49.8169 9.4082C49.9044 9.4082 49.9835 9.41427 50.0538 9.4251V10.3061Z' fill='white'/%3E%3Cpath d='M54.2912 11.376C54.2912 11.5415 54.2801 11.681 54.2565 11.795H51.4139C51.425 12.2058 51.5623 12.52 51.8263 12.7366C52.0659 12.9303 52.3756 13.0274 52.7561 13.0274C53.177 13.0274 53.561 12.962 53.9063 12.8307L54.0548 13.472C53.6512 13.6436 53.1748 13.729 52.625 13.729C51.9636 13.729 51.4445 13.5392 51.0668 13.16C50.6899 12.7808 50.501 12.2717 50.501 11.6329C50.501 11.0059 50.6765 10.4837 51.0281 10.0673C51.3961 9.62269 51.8934 9.40039 52.5192 9.40039C53.1339 9.40039 53.5992 9.62269 53.9152 10.0673C54.1654 10.4205 54.2912 10.8573 54.2912 11.376ZM53.3876 11.1363C53.3939 10.8625 53.3321 10.6259 53.2036 10.4261C53.0396 10.1691 52.7876 10.0409 52.4485 10.0409C52.1388 10.0409 51.8868 10.1661 51.6943 10.4174C51.5365 10.6172 51.4428 10.8568 51.4139 11.1359H53.3876V11.1363Z' fill='white'/%3E%3Cpath d='M21.8001 4.33694C21.8001 4.84698 21.6432 5.23091 21.3298 5.48874C21.0396 5.72664 20.6272 5.84581 20.093 5.84581C19.8281 5.84581 19.6014 5.83454 19.4116 5.81201V3.02524C19.6592 2.98624 19.9258 2.96631 20.2138 2.96631C20.7227 2.96631 21.1063 3.07421 21.365 3.29001C21.6547 3.53398 21.8001 3.88281 21.8001 4.33694ZM21.309 4.34951C21.309 4.01888 21.2192 3.76538 21.0396 3.58858C20.8601 3.41221 20.5978 3.32381 20.2525 3.32381C20.1058 3.32381 19.981 3.33334 19.8774 3.35328V5.47184C19.9347 5.48051 20.0396 5.48441 20.1921 5.48441C20.5485 5.48441 20.8236 5.38778 21.0174 5.19451C21.2112 5.00124 21.309 4.71958 21.309 4.34951Z' fill='white'/%3E%3Cpath d='M24.4036 4.78288C24.4036 5.09705 24.3116 5.35445 24.1276 5.55638C23.9347 5.76395 23.6791 5.86752 23.36 5.86752C23.0525 5.86752 22.8076 5.76828 22.6249 5.56895C22.4427 5.37005 22.3516 5.11915 22.3516 4.81668C22.3516 4.50035 22.4453 4.24078 22.6338 4.03928C22.8222 3.83778 23.0756 3.73682 23.3947 3.73682C23.7022 3.73682 23.9493 3.83605 24.1365 4.03495C24.3142 4.22822 24.4036 4.47782 24.4036 4.78288ZM23.9205 4.79762C23.9205 4.60912 23.8787 4.44748 23.7956 4.31272C23.6978 4.14978 23.5587 4.06832 23.3778 4.06832C23.1907 4.06832 23.0485 4.14978 22.9507 4.31272C22.8671 4.44748 22.8258 4.61172 22.8258 4.80585C22.8258 4.99435 22.8676 5.15598 22.9507 5.29075C23.0516 5.45368 23.192 5.53515 23.3733 5.53515C23.5511 5.53515 23.6907 5.45238 23.7911 5.28642C23.8773 5.14905 23.9205 4.98612 23.9205 4.79762Z' fill='white'/%3E%3Cpath d='M27.8959 3.77783L27.2404 5.82057H26.8137L26.5421 4.93353C26.4732 4.7121 26.4172 4.49197 26.3737 4.27357H26.3652C26.3248 4.49803 26.2688 4.71773 26.1968 4.93353L25.9084 5.82057H25.4768L24.8604 3.77783H25.339L25.5759 4.74893C25.6332 4.9786 25.6804 5.19743 25.7181 5.40457H25.7266C25.7612 5.23383 25.8186 5.0163 25.8995 4.75327L26.1968 3.77827H26.5764L26.8612 4.73247C26.9301 4.96517 26.9861 5.1892 27.0292 5.405H27.0421C27.0737 5.19483 27.1212 4.9708 27.1844 4.73247L27.4386 3.77827H27.8959V3.77783Z' fill='white'/%3E%3Cpath d='M30.3106 5.82099H29.8448V4.65099C29.8448 4.29045 29.7043 4.11018 29.4226 4.11018C29.2843 4.11018 29.1728 4.15959 29.0861 4.25882C29.0003 4.35805 28.9568 4.47505 28.9568 4.60895V5.82055H28.491V4.36195C28.491 4.18255 28.4852 3.98799 28.4741 3.77738H28.8835L28.9052 4.09675H28.9181C28.9723 3.99752 29.0532 3.91562 29.1595 3.85019C29.2857 3.77392 29.427 3.73535 29.5817 3.73535C29.7772 3.73535 29.9399 3.79688 30.0692 3.92038C30.2301 4.07162 30.3106 4.29739 30.3106 4.59725V5.82099Z' fill='white'/%3E%3Cpath d='M31.5952 5.82036H31.1299V2.84033H31.5952V5.82036Z' fill='white'/%3E%3Cpath d='M34.3367 4.78288C34.3367 5.09705 34.2447 5.35445 34.0607 5.55638C33.8678 5.76395 33.6118 5.86752 33.2931 5.86752C32.9851 5.86752 32.7402 5.76828 32.558 5.56895C32.3758 5.37005 32.2847 5.11915 32.2847 4.81668C32.2847 4.50035 32.3784 4.24078 32.5669 4.03928C32.7553 3.83778 33.0087 3.73682 33.3273 3.73682C33.6353 3.73682 33.882 3.83605 34.0696 4.03495C34.2473 4.22822 34.3367 4.47782 34.3367 4.78288ZM33.8531 4.79762C33.8531 4.60912 33.8113 4.44748 33.7282 4.31272C33.6309 4.14978 33.4913 4.06832 33.3109 4.06832C33.1233 4.06832 32.9811 4.14978 32.8838 4.31272C32.8002 4.44748 32.7589 4.61172 32.7589 4.80585C32.7589 4.99435 32.8007 5.15598 32.8838 5.29075C32.9847 5.45368 33.1251 5.53515 33.3064 5.53515C33.4842 5.53515 33.6233 5.45238 33.7238 5.28642C33.8104 5.14905 33.8531 4.98612 33.8531 4.79762Z' fill='white'/%3E%3Cpath d='M36.5911 5.82115H36.1729L36.1382 5.58585H36.1253C35.9822 5.77348 35.7782 5.86752 35.5133 5.86752C35.3155 5.86752 35.1555 5.80555 35.0351 5.68248C34.9258 5.57068 34.8711 5.43158 34.8711 5.26648C34.8711 5.01688 34.9778 4.82665 35.1924 4.69492C35.4066 4.56318 35.708 4.49862 36.096 4.50165V4.46352C36.096 4.19442 35.9511 4.06008 35.6609 4.06008C35.4542 4.06008 35.272 4.11078 35.1147 4.21132L35.02 3.91318C35.2146 3.79575 35.4551 3.73682 35.7386 3.73682C36.2862 3.73682 36.5609 4.01848 36.5609 4.58182V5.33408C36.5609 5.53818 36.5711 5.70068 36.5911 5.82115ZM36.1075 5.11915V4.80412C35.5938 4.79545 35.3369 4.93282 35.3369 5.21578C35.3369 5.32238 35.3662 5.40212 35.4262 5.45542C35.4862 5.50872 35.5626 5.53515 35.6538 5.53515C35.756 5.53515 35.8515 5.50352 35.9386 5.44068C36.0262 5.37742 36.08 5.29725 36.1 5.19888C36.1049 5.17678 36.1075 5.14992 36.1075 5.11915Z' fill='white'/%3E%3Cpath d='M39.2383 5.82036H38.8249L38.8032 5.49233H38.7903C38.6583 5.74193 38.4334 5.86673 38.1174 5.86673C37.8649 5.86673 37.6547 5.7701 37.4881 5.57683C37.3214 5.38357 37.2383 5.13267 37.2383 4.82457C37.2383 4.49393 37.3285 4.22613 37.5098 4.0216C37.6854 3.83093 37.9005 3.7356 38.1565 3.7356C38.4378 3.7356 38.6347 3.8279 38.7467 4.01293H38.7556V2.84033H39.2218V5.27003C39.2218 5.46893 39.2272 5.65223 39.2383 5.82036ZM38.7556 4.9589V4.6183C38.7556 4.55937 38.7512 4.5117 38.7427 4.4753C38.7165 4.3661 38.6601 4.27423 38.5743 4.20013C38.4876 4.12603 38.3832 4.08877 38.2627 4.08877C38.0889 4.08877 37.9529 4.15593 37.8529 4.2907C37.7538 4.42547 37.7036 4.5975 37.7036 4.80766C37.7036 5.0096 37.7512 5.1734 37.8467 5.2995C37.9476 5.43383 38.0836 5.501 38.2538 5.501C38.4067 5.501 38.5289 5.4451 38.6218 5.33286C38.7116 5.2293 38.7556 5.1045 38.7556 4.9589Z' fill='white'/%3E%3Cpath d='M43.2214 4.78288C43.2214 5.09705 43.1294 5.35445 42.9454 5.55638C42.7525 5.76395 42.4974 5.86752 42.1779 5.86752C41.8708 5.86752 41.6259 5.76828 41.4428 5.56895C41.2605 5.37005 41.1694 5.11915 41.1694 4.81668C41.1694 4.50035 41.2632 4.24078 41.4517 4.03928C41.6401 3.83778 41.8934 3.73682 42.213 3.73682C42.5201 3.73682 42.7677 3.83605 42.9543 4.03495C43.1321 4.22822 43.2214 4.47782 43.2214 4.78288ZM42.7388 4.79762C42.7388 4.60912 42.697 4.44748 42.6139 4.31272C42.5157 4.14978 42.377 4.06832 42.1957 4.06832C42.009 4.06832 41.8668 4.14978 41.7685 4.31272C41.685 4.44748 41.6437 4.61172 41.6437 4.80585C41.6437 4.99435 41.6854 5.15598 41.7685 5.29075C41.8694 5.45368 42.0099 5.53515 42.1912 5.53515C42.369 5.53515 42.509 5.45238 42.6094 5.28642C42.6952 5.14905 42.7388 4.98612 42.7388 4.79762Z' fill='white'/%3E%3Cpath d='M45.7261 5.82099H45.2608V4.65099C45.2608 4.29045 45.1204 4.11018 44.8381 4.11018C44.6999 4.11018 44.5884 4.15959 44.5021 4.25882C44.4159 4.35805 44.3728 4.47505 44.3728 4.60895V5.82055H43.9066V4.36195C43.9066 4.18255 43.9012 3.98799 43.8901 3.77738H44.299L44.3208 4.09675H44.3337C44.3884 3.99752 44.4692 3.91562 44.575 3.85019C44.7017 3.77392 44.8426 3.73535 44.9977 3.73535C45.1928 3.73535 45.3555 3.79688 45.4848 3.92038C45.6461 4.07162 45.7261 4.29739 45.7261 4.59725V5.82099Z' fill='white'/%3E%3Cpath d='M48.8605 4.11843H48.3476V5.11076C48.3476 5.36296 48.4387 5.48906 48.6191 5.48906C48.7027 5.48906 48.772 5.48213 48.8267 5.46783L48.8387 5.81233C48.7467 5.84613 48.6258 5.86303 48.4769 5.86303C48.2929 5.86303 48.1498 5.80843 48.0462 5.69923C47.9422 5.59003 47.8907 5.4063 47.8907 5.14846V4.11843H47.5845V3.77826H47.8907V3.40386L48.3471 3.26953V3.77783H48.86V4.11843H48.8605Z' fill='white'/%3E%3Cpath d='M51.3264 5.82036H50.8602V4.65903C50.8602 4.29287 50.7197 4.10957 50.4384 4.10957C50.2224 4.10957 50.0748 4.21573 49.9939 4.42807C49.9802 4.4727 49.9722 4.5273 49.9722 4.59143V5.81993H49.5068V2.84033H49.9722V4.07143H49.9811C50.1277 3.8474 50.338 3.7356 50.6104 3.7356C50.8033 3.7356 50.9628 3.79713 51.0895 3.92063C51.2473 4.07447 51.3264 4.30327 51.3264 4.60573V5.82036Z' fill='white'/%3E%3Cpath d='M53.8695 4.70314C53.8695 4.78461 53.8633 4.85308 53.8522 4.90898H52.4553C52.4615 5.11091 52.5282 5.26474 52.6575 5.37134C52.7757 5.46668 52.9282 5.51434 53.1148 5.51434C53.3215 5.51434 53.5099 5.48228 53.6797 5.41771L53.7526 5.73318C53.5539 5.81724 53.3202 5.85928 53.0495 5.85928C52.7251 5.85928 52.4695 5.76611 52.2846 5.57978C52.0988 5.39344 52.0068 5.14341 52.0068 4.82968C52.0068 4.52158 52.0926 4.26504 52.2655 4.06051C52.4459 3.84211 52.6899 3.73291 52.9979 3.73291C53.2993 3.73291 53.5282 3.84211 53.6828 4.06051C53.8077 4.23384 53.8695 4.44834 53.8695 4.70314ZM53.4251 4.58571C53.4286 4.45094 53.3979 4.33481 53.3348 4.23688C53.2539 4.11078 53.1308 4.04751 52.9642 4.04751C52.8122 4.04751 52.6882 4.10904 52.5935 4.23254C52.5162 4.33091 52.4704 4.44834 52.4553 4.58571H53.4251Z' fill='white'/%3E%3C/svg%3E") no-repeat center top;
            background-size: 60px auto;
          }
        }

        &:last-child {
          margin-left: 4px;
        }
      }

      .qr_normal {
        display: block;
      }

      .qr_dark {
        display: none;
      }
    }
  }

  &__bottom {
    padding: 40px 0 0;
  }

  &__logo {
    display: inline-block;
    margin: 0 13px 0 0;
    width: 75px;
    height: 28px;
    font-size: 0;
    vertical-align: top;
    @include bgSet(svgIcon(footerLogo, $black));
  }

  &__copyright {
    display: inline-block;
    margin-top: 6px;
    font-family: $font-e;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    vertical-align: top;
    color: #666;
  }
}

.dark-mode {
  .footer {
    &__nav {
      color: #F5F3EC;
    }

    &__infobox {
      color: #F5F3EC;
    }

    &__copyright {
      color: #F5F3EC;
    }

    &__qr {
      .qr-list {
        .qr_normal {
          display: none;
        }

        .qr_dark {
          display: block;
        }
      }
    }
  }
}

// dark-mode
// 페이지 전체가 dark-mode 일 경우
// .wrap.dark {
//   .footer {
//     color: rgba(255, 255, 255, 0.6);
//     background-color: $dark;
//     border-top: 1px solid rgba(255, 255, 255, 0.16);

//     &__inner {
//       border-bottom: 1px solid rgba(255, 255, 255, 0.16);
//     }

//     .sp-bar-list {
//       li {
//         &:before {
//           background: rgba(255, 255, 255, 0.16);
//         }

//       }
//     }

//     &__nav {
//       color: rgba(255, 255, 255, 0.6);
//     }


//     &__infobox {
//       color: rgba(255, 255, 255, 0.6);
//     }

//     &__family {
//       &-select {
//         $selectBg: "data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.833252 0.916992L4.99992 5.08366L9.16659 0.916992H0.833252Z' fill='%23999999'/%3E%3C/svg%3E";
//         border: 1px solid rgba(255, 255, 255, 0.24);
//         color: rgba(255, 255, 255, 0.6);
//         background-color: transparent;
//       }
//     }

//     &__copyright {
//       color: #aaa;
//     }
//   }
// }

// footer 단독으로 dark로 쓰일 때..
// .footer {
//   &--dark {
//     position: relative;
//     font-size: 14px;
//     padding: 24px 48px 0;
//     color: rgba(255, 255, 255, 0.6);
//     background-color: $dark;
//     border-top: 1px solid rgba(255, 255, 255, 0.16);

//     &__inner {
//       position: relative;
//       border-bottom: 1px solid rgba(255, 255, 255, 0.16);
//       padding-bottom: 40px;
//     }

//     .sp-bar-list {
//       overflow: hidden;
//       margin: 0 -16px;

//       li {
//         position: relative;
//         margin-left: -1px;
//         padding: 0 16px;
//         line-height: 1;

//         &:before {
//           position: absolute;
//           top: 50%;
//           left: 0;
//           display: inline-block;
//           width: 1px;
//           height: 14px;
//           margin-top: -7px;
//           background: rgba(255, 255, 255, 0.16);
//           content: "";
//         }

//         // &:first-child {
//         //   padding-left: 0;

//         //   &:before {
//         //     display: none;
//         //   }
//         // }
//       }
//     }

//     &__nav {
//       display: flex;
//       flex-wrap: wrap;

//       padding: 11px 0;
//       font-weight: 400;
//       display: flex;
//       align-items: center;
//       color: rgba(255, 255, 255, 0.6);

//       li {
//         margin-bottom: 16px;
//       }

//       &.sp-bar-list {
//         margin-right: 190px;
//       }
//     }


//     &__infobox {
//       font-size: 13px;
//       color: rgba(255, 255, 255, 0.6);
//     }

//     &__address {
//       margin-bottom: 9px;
//     }

//     &__info {
//       display: flex;
//       flex-wrap: wrap;
//       max-width: 600px;
//       margin-top: 9px;

//       li {
//         margin-bottom: 11px;
//       }
//     }

//     &__family {
//       position: absolute;
//       top: 0;
//       right: 0;
//       width: 189px;

//       &-select {
//         $selectBg: "data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.833252 0.916992L4.99992 5.08366L9.16659 0.916992H0.833252Z' fill='%23999999'/%3E%3C/svg%3E";
//         width: 100%;
//         height: 36px;
//         padding: 5px 12px;
//         font-weight: 600;
//         font-size: 12px;
//         line-height: 1.2;
//         border: 1px solid rgba(255, 255, 255, 0.24);
//         border-radius: 4px;
//         @include bgSet($selectBg, 8.33px auto, 162px 15px);
//         color: rgba(255, 255, 255, 0.6);
//         background-color: transparent;
//       }
//     }

//     &__block {
//       position: relative;
//       display: flex;
//       margin-top: 40px;
//     }

//     &__sns {
//       display: flex;
//       justify-content: center;
//       flex: 1;

//       &-list {
//         display: inline-flex;
//       }

//       a {
//         display: inline-block;
//         width: 34px;
//         height: 34px;
//         margin: 0 8px;
//         font-size: 0;
//         background-position: 50% 50%;
//         background-repeat: no-repeat;
//         background-size: 100% auto;
//         vertical-align: top;
//       }

//       .sns-facebook {
//         background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.676471' y='0.676471' width='44.6471' height='44.6471' rx='22.3235' fill='%231C1C1C' stroke='%23171010' stroke-width='1.35294'/%3E%3Cpath d='M29.7648 10.147H25.6644L25.6592 10.1469L25.6278 10.1468C25.6021 10.1469 25.5668 10.1473 25.5228 10.1488C25.435 10.1516 25.3122 10.1584 25.1615 10.1738C24.8608 10.2044 24.4448 10.2696 23.9721 10.4086C23.0361 10.6836 21.8525 11.2557 20.9221 12.4414C20.909 12.4553 20.8937 12.4718 20.8767 12.4911C20.8315 12.5424 20.7735 12.6131 20.7073 12.7053C20.5747 12.8899 20.4102 13.159 20.2495 13.5276C19.9739 14.1597 19.7141 15.0736 19.6391 16.3405H19.6169V17.0169V19.5532H16.2354H15.5589V20.2297V24.7782V25.4547H16.2354H19.6169V36.5291V37.2056H20.2934H24.9738H25.6503V36.5291V25.455H29.0002H29.5984L29.6716 24.8614L30.2328 20.3129L30.3264 19.5536H29.5614H25.6503V17.0173V17.008C25.6588 16.8586 25.701 16.544 25.8696 16.2778C26.018 16.0436 26.3055 15.7719 27.0134 15.7841L27.7016 15.796V15.7838H29.7648H30.4412V15.1074V10.8234V10.147H29.7648Z' fill='white' stroke='black' stroke-width='1.35294'/%3E%3C/svg%3E");
//       }

//       .sns-insta {
//         background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.676471' y='0.676471' width='44.6471' height='44.6471' rx='22.3235' fill='%231C1C1C' stroke='black' stroke-width='1.35294'/%3E%3Cpath d='M23.6764 10.147V10.1468H23C19.6855 10.1468 19.2623 10.1628 17.9533 10.2182L17.9533 10.2181L17.9487 10.2184C16.5867 10.2853 15.6339 10.499 14.7801 10.8305L14.7801 10.8304L14.7782 10.8312C13.8991 11.1755 13.1359 11.6406 12.3904 12.3899C11.6416 13.1341 11.1713 13.8975 10.8304 14.7805C10.4991 15.6341 10.2855 16.5868 10.2186 17.9484L10.2186 17.9484L10.2185 17.9511C10.1592 19.263 10.147 19.6871 10.147 22.9997C10.147 26.3142 10.163 26.7374 10.2184 28.0464L10.2186 28.0511C10.2856 29.4089 10.4991 30.3656 10.8307 31.2196L10.8314 31.2215C11.1757 32.1005 11.6409 32.8638 12.3901 33.6092C13.1345 34.3582 13.8981 34.8286 14.7813 35.1695L14.7828 35.17C15.6335 35.4961 16.5887 35.714 17.9486 35.7811L17.9513 35.7812C19.2632 35.8405 19.6873 35.8527 23 35.8527C26.3144 35.8527 26.7376 35.8366 28.0466 35.7813L28.0514 35.781C29.4116 35.714 30.3665 35.4953 31.2166 35.1702L31.2166 35.1702L31.2217 35.1682C32.1007 34.824 32.8639 34.3588 33.6093 33.6097C34.3578 32.8659 34.8287 32.1061 35.1701 31.2173L35.1703 31.2169C35.4964 30.3661 35.7143 29.411 35.7813 28.0511L35.7814 28.0484C35.8407 26.7365 35.8529 26.3124 35.8529 22.9997C35.8529 19.6853 35.8369 19.2621 35.7815 17.953L35.7815 17.953L35.7813 17.9483C35.7143 16.5888 35.4957 15.6287 35.17 14.7818L35.1685 14.778C34.8242 13.8989 34.3591 13.1357 33.6099 12.3903C32.8664 11.6421 32.1068 11.1713 31.2185 10.8299C30.3649 10.4987 29.4085 10.2853 28.0514 10.2184L28.0486 10.2182C26.8318 10.1632 26.3788 10.1488 23.6764 10.147ZM22.7373 13.6568L22.7875 13.6918H23C26.2449 13.6918 26.6233 13.7077 27.8934 13.7619C29.0038 13.8141 29.5765 13.9964 29.9365 14.137L29.9383 14.1377C30.4211 14.3248 30.7421 14.5347 31.109 14.8975C31.4641 15.2529 31.6746 15.5766 31.8627 16.0622L31.8634 16.064C32.0041 16.424 32.1864 16.9966 32.2386 18.107C32.2927 19.3771 32.3087 19.7563 32.3087 23.0005C32.3087 26.2438 32.2927 26.6227 32.2342 27.8903C32.1742 28.9982 31.9927 29.5724 31.8523 29.9341C31.6545 30.4233 31.446 30.7456 31.0895 31.1092C30.7299 31.4642 30.4013 31.6755 29.9191 31.8639L29.9163 31.865C29.565 32.0039 28.9841 32.1869 27.8662 32.2391L27.8623 32.2393C26.5896 32.2933 26.2151 32.3092 22.9665 32.3092C19.7141 32.3092 19.3442 32.2933 18.0681 32.2347C16.958 32.1745 16.3755 31.9924 16.0149 31.8524C15.5188 31.6543 15.2014 31.4467 14.8456 31.0909C14.4803 30.7255 14.264 30.399 14.0906 29.9307L14.0872 29.9218L14.0837 29.9129C13.9439 29.566 13.7635 28.9871 13.7036 27.8688C13.701 27.7948 13.6986 27.7238 13.6962 27.6551C13.6583 26.5505 13.6402 26.0246 13.6402 22.9822C13.6402 19.9469 13.6582 19.4167 13.696 18.3027C13.6985 18.2312 13.701 18.1574 13.7036 18.0803C13.7635 16.9624 13.9438 16.3847 14.084 16.0355L14.0883 16.0249L14.0922 16.0141C14.2637 15.5413 14.4773 15.2274 14.8458 14.8581C15.2097 14.4942 15.5263 14.2782 16.0023 14.1016L16.0023 14.1017L16.0122 14.0978C16.3737 13.9572 16.9391 13.7753 18.052 13.7193C18.0854 13.7181 18.1181 13.7169 18.1503 13.7158C19.3234 13.6735 19.7687 13.6575 22.7373 13.6568ZM23 16.0736C19.1698 16.0736 16.0724 19.1754 16.0724 23.0012C16.0724 26.8314 19.1742 29.9288 23 29.9288C26.8301 29.9288 29.9275 26.827 29.9275 23.0012C29.9275 19.1711 26.8258 16.0736 23 16.0736ZM23 26.3838C21.1298 26.3838 19.6174 24.8714 19.6174 23.0012C19.6174 21.131 21.1298 19.6186 23 19.6186C24.8701 19.6186 26.3826 21.131 26.3826 23.0012C26.3826 24.8714 24.8701 26.3838 23 26.3838ZM29.5007 18.6391C30.6775 18.6391 31.6408 17.6852 31.6408 16.5005C31.6408 15.3196 30.6761 14.3649 29.5007 14.3649C28.3244 14.3649 27.3621 15.3205 27.3621 16.5005C27.3621 17.6822 28.3178 18.6391 29.5007 18.6391Z' fill='white' stroke='black' stroke-width='1.35294'/%3E%3C/svg%3E");
//       }

//       .sns-twitter {
//         background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.676471' y='0.676471' width='44.6471' height='44.6471' rx='22.3235' fill='%231C1C1C' stroke='black' stroke-width='1.35294'/%3E%3Cpath d='M35.3921 15.3236C35.2191 15.251 35.0238 15.2534 34.8527 15.3303C34.7271 15.3867 34.6001 15.4405 34.472 15.4916C34.7381 15.0694 34.9523 14.6098 35.1056 14.1224C35.1898 13.8546 35.0999 13.5627 34.8797 13.3886C34.6594 13.2146 34.3546 13.1947 34.1136 13.3386C33.3129 13.8165 32.4357 14.1781 31.5041 14.4081C30.497 13.4477 29.1384 12.8528 27.6422 12.8528C24.4946 12.8528 21.9711 15.4628 21.9711 18.6453C21.9711 18.7891 21.9764 18.9309 21.9866 19.0706C18.3815 18.6692 15.2007 16.7979 13.0185 14.0589C12.8789 13.8837 12.6617 13.789 12.4383 13.8059C12.215 13.8228 12.0145 13.9491 11.9029 14.1433C11.412 14.9974 11.1348 15.9874 11.1348 17.0576C11.1348 18.1407 11.4252 19.1536 11.9303 20.0203C11.763 19.9799 11.5839 20.0044 11.4311 20.0934C11.2231 20.2146 11.0953 20.4372 11.0953 20.6779V20.7395C11.0953 22.5601 11.917 24.1912 13.2082 25.2565C13.1402 25.2935 13.0781 25.3423 13.0252 25.4019C12.8673 25.5799 12.8145 25.8279 12.8862 26.0548C13.4342 27.7883 14.7585 29.1752 16.4528 29.7698C15.1295 30.501 13.6136 30.9154 12.013 30.9154C11.6386 30.9154 11.2711 30.897 10.9066 30.8519C10.5942 30.8133 10.2965 30.9951 10.1883 31.2906C10.08 31.5861 10.1899 31.9173 10.4533 32.0895C12.7773 33.6088 15.5252 34.4999 18.4939 34.4999C28.143 34.4999 33.3719 26.2991 33.3719 19.2711V19.2613C33.3719 19.1609 33.3719 19.0534 33.37 18.9417C34.2951 18.214 35.0976 17.3266 35.7432 16.3361C35.8527 16.1681 35.882 15.9601 35.8231 15.7683C35.7643 15.5766 35.6234 15.4208 35.4385 15.3431L35.3921 15.3236Z' fill='white' stroke='black' stroke-width='1.35294' stroke-linejoin='round'/%3E%3C/svg%3E");
//       }

//       .sns-youtube {
//         background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.676471' y='0.676471' width='44.6471' height='44.6471' rx='22.3235' fill='%231C1C1C' stroke='black' stroke-width='1.35294'/%3E%3Cpath d='M35.3331 17.3202L35.3271 17.2878L35.318 17.2562C34.9621 16.0235 33.9791 15.0635 32.7223 14.7251L32.7223 14.725L32.7171 14.7237C32.1735 14.5819 31.2808 14.4864 30.3031 14.4171C29.3068 14.3464 28.1637 14.2997 27.0863 14.2686C26.0077 14.2375 24.9895 14.2219 24.2413 14.2141C23.8671 14.2103 23.5601 14.2083 23.3465 14.2073C23.2396 14.2069 23.1561 14.2066 23.0993 14.2065L23.0343 14.2064L23.0175 14.2064L23.0132 14.2064L23.0125 14.2064L23.0122 14.2064L23.012 14.2064L23.0117 14.2064L23.0111 14.2064L23.0068 14.2064L22.99 14.2063L22.9251 14.2064C22.8683 14.2064 22.7849 14.2065 22.6783 14.2068C22.4649 14.2075 22.1584 14.209 21.7846 14.2125C21.0374 14.2193 20.0203 14.2337 18.9421 14.2641C17.8651 14.2945 16.7217 14.3409 15.7236 14.4121C14.7441 14.4819 13.8479 14.579 13.2986 14.7242L13.2986 14.7242L13.2942 14.7254C12.0451 15.0644 11.0568 16.0226 10.7039 17.258L10.6955 17.2876L10.6897 17.3178C10.3218 19.2583 10.1389 21.223 10.1473 23.1973C10.1435 25.1578 10.3256 27.1188 10.6896 29.0471L10.6954 29.0776L10.7039 29.1074C11.0568 30.3428 12.0447 31.3008 13.292 31.6439L13.292 31.644L13.3007 31.6462C13.8443 31.788 14.7374 31.8836 15.7156 31.9529C16.7124 32.0235 17.8561 32.0703 18.9343 32.1014C20.0135 32.1325 21.0323 32.148 21.781 32.1558C22.1555 32.1597 22.4627 32.1616 22.6765 32.1626C22.7834 32.1631 22.8669 32.1633 22.9239 32.1634L22.9889 32.1635L23.0057 32.1636L23.01 32.1636H23.0112L23.0115 32.1636C23.0115 32.1636 23.0116 32.1636 23.0116 31.4871C23.0116 32.1636 23.0116 32.1636 23.0117 32.1636L23.012 32.1636H23.0131L23.0175 32.1636L23.0342 32.1635L23.099 32.1634C23.1558 32.1633 23.2391 32.1631 23.3457 32.1626C23.5588 32.1616 23.8652 32.1597 24.2387 32.1558C24.9854 32.148 26.0018 32.1325 27.0791 32.1014C28.1554 32.0703 29.2979 32.0235 30.2951 31.9529C31.2741 31.8835 32.1682 31.788 32.7156 31.6467L32.7156 31.6467L32.7249 31.6442C33.9791 31.301 34.962 30.3431 35.318 29.1091L35.3272 29.0773L35.3332 29.0448C35.6901 27.1169 35.8645 25.1564 35.8523 23.1964C35.8645 21.2248 35.6941 19.2612 35.3331 17.3202ZM25.545 23.1952L21.249 25.5985V20.7813L25.545 23.1952Z' fill='white' stroke='black' stroke-width='1.35294'/%3E%3C/svg%3E");
//       }
//     }

//     &__copyright {
//       display: block;
//       padding: 40px 0 48px;
//       font-family: $font-e;
//       font-weight: 600;
//       font-size: 12px;
//       text-transform: uppercase;
//       color: #aaa;
//     }
//   }
// }

//PC
// @media all and (max-width: $devicePC) {
//   body {
//     background-color: pink;
//   }
// }

// //Tablet
// @media all and (max-width: $deviceTablet) {
//   body {
//     background-color: yellow;
//   }
// }

//Mobile
@media all and (max-width: $deviceMobile) {
  .footer {
    padding: 0 16px 60px;

    &__family {
      position: static;
    }

    &__inner {
      display: flex;
      padding: 107px 0 40px;
      flex-direction: column;
      align-items: center;
    }

    &__block {
      display: block;
      position: static;
      margin-top: 32px;
    }

    &__sns {
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;

      a {
        width: 46px;
        height: 46px;
      }
    }

    &__infobox {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 15px;
      text-align: center;
    }

    &__address {
      margin-bottom: 14px;
      line-height: 1;
    }

    &__service-num {
      margin-bottom: 14px;
    }

    &__nav,
    &__info {
      max-width: 360px;
      justify-content: center;

      li {
        margin-bottom: 16px;

        &:nth-child(1),
        &:nth-child(4) {
          &::before {
            display: none;
          }
        }
      }
    }

    .sp-bar-list {
      li {
        padding: 0 8px;
      }
    }

    &__nav {
      &.sp-bar-list {
        margin-right: -16px;
      }

      li {
        &:first-child {
          padding-left: 40px;
        }

        &:nth-child(3) {
          padding-right: 40px;
        }
      }
    }

    &__info {
      li:nth-child(3):before {
        display: none;
      }
    }

    &__qr {
      margin-top: -15px;

      .qr-list {
        justify-content: center;

        >li {
          >a {
            display: inline-block;
            width: 140px;
            margin-bottom: 32px;

            &.btn-googleplay {
              background-size: 140px auto;
            }

            &.btn-appstore {
              background-size: 140px auto;
            }
          }

          &:last-child {
            margin-left: 8px;
          }
        }

        .qr_normal {
          display: none;
        }

        .qr_dark {
          display: none;
        }
      }
    }

    &__bottom {
      padding-top: 32px;
    }

    &__logo {
      display: block;
      margin: 0 auto;
      width: 63.82px;
    }

    &__copyright {
      display: block;
      margin-top: 48px;
      text-align: center;
    }
  }

  .dark-mode {
    .footer {
      &__qr {
        .qr-list {
          .qr_normal {
            display: none;
          }

          .qr_dark {
            display: none;
          }
        }
      }
    }
  }
}