.artemap {
  &-section {
    // overflow: hidden;
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100vh - 107px);

    .pop__close {
      position: relative;
      top: initial;
      right: initial;
      width: 24px;
      height: 24px;
      margin-left: auto;

      &:before,
      &:after {
        height: 18px;
        margin-top: -8px;
        background-color: #000;
      }
    }
  }

  // side bar
  &-side {
    z-index: 10;
    // overflow: hidden;
    position: absolute;
    left: -432px;
    width: 440px;
    height: 100%;
    border-right: 1px solid #DFDACE;
    // background: $light;

    &.is-open {
      left: 0;

      .search-list {
        display: block;
      }

      .btn-side:before {
        transform: translate(-50%, -50%);
      }

      &+.artemap-map {
        .map-btn {
          width: calc(100% - 440px);
        }
      }
    }

    .btn-side {
      z-index: 5;
      position: absolute;
      top: 50%;
      right: -24px;
      transform: translateY(-50%);
      width: 24px;
      height: 48px;
      border: 1px solid #DFDACE;
      border-radius: 0 4px 4px 0;
      background: $light;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(180deg);
        width: 7.4px;
        height: 12px;
        background: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.70492 10.59L3.12492 6L7.70492 1.41L6.29492 0L0.294922 6L6.29492 12L7.70492 10.59Z' fill='%23666666'/%3E%3C/svg%3E") 0% / cover no-repeat;
      }
    }
  }

  // search area
  &-search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    background: $light;

    .search {
      &-group {
        margin: 0 16px;
        padding: 24px 0;
        border-bottom: 1px solid #DFDACE;
      }

      &-box {
        width: 100%;

        .o-input {
          color: $dark;
          border-radius: 4px;
          background: #FEFCF7;

          &::placeholder {
            color: #aaa;
          }
        }
      }

      &-option {
        padding: 24px 16px 16px;
      }

      &-location {
        display: flex;
        align-items: center;
        padding: 24px 24px 0;

        .art-info {
          font-size: 14px;
        }
      }

      &-filter {
        margin-left: auto;

        .filter {
          &-options {
            z-index: 10;
            display: none;
            flex-direction: column;
            position: absolute;
            top: 82px;
            left: 0;
            width: 100%;
            height: calc(100vh - 196px);
            margin: 0;
            padding: 0;
            background: $light;
            border-radius: 12px 12px 0 0;
            border-top: 1px solid #DFDACE;
            box-shadow: 0px -8px 30px rgba(23, 16, 16, 0.08);

            &__top {
              justify-content: flex-start;
              padding: 32px 24px 0;

              .filter-options__tit {
                font-size: 20px;
              }
            }

            &__cont {
              padding: 32px 24px 0;
            }

            &__items {
              padding: 0;

              &-list {
                li {
                  flex: 33.333%;
                }
              }
            }

            &__bottom {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 80px;
              margin-top: auto;
              border-top: 1px solid #D7D3CB;

              .btn-reset {
                font-size: 16px;
                font-weight: 600;

                &:after {
                  width: 20px;
                  height: 14.6px;
                }
              }
            }

            &.is-open {
              display: flex;
            }
          }
        }

        .btn.filter {
          height: 20px;
          margin: 0;
          padding: 4px 16px;
          color: #666666;
          font-size: 12px;
          border-color: #666;
          border-radius: 10px;

          &:before {
            content: '';
            display: block;
            width: 12px;
            height: 12px;
            margin-right: 1px;
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 7.66688H2.5M10 2.33312L7.5 2.33312M5 7.66688L10 7.66688M5 2.33312L0 2.33312M4.6875 7.66688C4.6875 8.40314 4.12786 9 3.4375 9C2.74714 9 2.1875 8.40314 2.1875 7.66688C2.1875 6.93062 2.74714 6.33377 3.4375 6.33377C4.12786 6.33377 4.6875 6.93062 4.6875 7.66688ZM5.3125 2.33312C5.3125 1.59686 5.87214 1 6.5625 1C7.25286 1 7.8125 1.59686 7.8125 2.33312C7.8125 3.06938 7.25286 3.66623 6.5625 3.66623C5.87214 3.66623 5.3125 3.06938 5.3125 2.33312Z' stroke='%23757573'/%3E%3C/svg%3E");
            background-size: cover;
          }
        }
      }

      &-tags {
        display: none;
        justify-content: flex-start;
        margin: 0;
        padding: 16px 24px;

        &.is-selected {
          display: flex;

          &+.search-list {
            height: calc(100% - 231px);
            margin-top: initial;

            .place-card {
              padding-top: 0;
            }
          }
        }
      }

      &-list {
        width: 100%;
        // height: 100%;
        height: calc(100% - 135px);
        margin-top: auto;
        background: $light;

        &.spot {
          height: calc(100% - 271px);

          .search-list-spot {
            display: block;
            z-index: 5;
            position: absolute;
            top: 88px;
            left: 0;
            width: 100%;
            padding: 34px 32px 20px;
            border-radius: 12px 12px 0 0;
            border-top: 1px solid #C9C1B7;
            box-shadow: 0px -8px 30px rgba(23, 16, 16, 0.08);
            border-bottom: 1px solid #C9C1B7;
            background: $light;
          }

          .list-spot {
            &__top {
              display: flex;
              align-items: center;
              font-size: 20px;
              font-weight: 600;
            }

            &__cont {
              margin-top: 20px;

              .art-info {
                font-size: 14px;

                li {
                  padding-left: 26px;

                  &+li {
                    margin-top: 7px;
                  }

                  &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 18px;
                    height: 18px;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: contain;
                  }
                }
              }

              .ico-tell:before {
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.42123 7.19178C6.30046 7.06466 6.27835 6.76941 6.43438 6.41887C7.01936 4.85521 7.09872 4.56505 6.72385 4.17045L4.31763 1.6376C3.85553 1.15117 3.1213 1.275 2.66729 1.7529C0.88955 3.6242 0.88955 6.64472 2.66729 8.51602L7.16221 13.2475C8.95833 15.1382 11.8853 15.1382 13.6814 13.2475C14.1205 12.7853 14.2293 12.0709 13.791 11.6095L11.3847 9.07666C10.9815 8.65215 10.7074 8.73519 9.20438 9.35681C8.85781 9.52611 8.62011 9.50639 8.51448 9.39521L6.42123 7.19178ZM12.6748 12.3705C11.4018 13.6664 9.38611 13.6526 8.12887 12.3292L3.63395 7.59769C2.37414 6.27156 2.34576 4.12718 3.54882 2.7642L5.55265 4.87349L5.54803 4.89052C5.48515 5.12046 5.36897 5.46394 5.20075 5.91465C4.85787 6.68188 4.92292 7.55049 5.45456 8.11011L7.54782 10.3135C8.0946 10.8891 8.96256 10.9611 9.75405 10.5708C10.1209 10.4205 10.4321 10.3033 10.647 10.236L12.6748 12.3705Z' fill='%23666666'/%3E%3Cpath d='M9.13399 6.79884C9.13399 6.50429 8.8952 6.26551 8.60065 6.26551C8.23246 6.26551 7.93399 5.96703 7.93399 5.59884C7.93399 5.23065 8.23246 4.93217 8.60065 4.93217C9.63158 4.93217 10.4673 5.76791 10.4673 6.79884C10.4673 7.16703 10.1688 7.46551 9.80065 7.46551C9.43246 7.46551 9.13399 7.16703 9.13399 6.79884Z' fill='%23F5F3EC'/%3E%3Cpath d='M8.60065 4.46551C9.88932 4.46551 10.934 5.51018 10.934 6.79884C10.934 7.16703 11.2325 7.46551 11.6007 7.46551C11.9688 7.46551 12.2673 7.16703 12.2673 6.79884C12.2673 4.7738 10.6257 3.13217 8.60065 3.13217C8.23246 3.13217 7.93399 3.43065 7.93399 3.79884C7.93399 4.16703 8.23246 4.46551 8.60065 4.46551Z' fill='%23F5F3EC'/%3E%3Cpath d='M12.734 6.79884C12.734 4.51606 10.8834 2.66551 8.60065 2.66551C8.23246 2.66551 7.93399 2.36703 7.93399 1.99884C7.93399 1.63065 8.23246 1.33217 8.60065 1.33217C11.6198 1.33217 14.0673 3.77968 14.0673 6.79884C14.0673 7.16703 13.7688 7.46551 13.4007 7.46551C13.0325 7.46551 12.734 7.16703 12.734 6.79884Z' fill='%23F5F3EC'/%3E%3C/svg%3E");
              }

              .ico-time:before {
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99398 1.33203C4.31398 1.33203 1.33398 4.3187 1.33398 7.9987C1.33398 11.6787 4.31398 14.6654 7.99398 14.6654C11.6807 14.6654 14.6673 11.6787 14.6673 7.9987C14.6673 4.3187 11.6807 1.33203 7.99398 1.33203ZM8.00065 13.332C5.05398 13.332 2.66732 10.9454 2.66732 7.9987C2.66732 5.05203 5.05398 2.66536 8.00065 2.66536C10.9473 2.66536 13.334 5.05203 13.334 7.9987C13.334 10.9454 10.9473 13.332 8.00065 13.332ZM8.33398 4.66536H7.33398V8.66536L10.834 10.7654L11.334 9.94536L8.33398 8.16536V4.66536Z' fill='%23666666'/%3E%3C/svg%3E");
              }

              .ico-web:before {
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.00065 1.33203C4.32065 1.33203 1.33398 4.3187 1.33398 7.9987C1.33398 11.6787 4.32065 14.6654 8.00065 14.6654C11.6807 14.6654 14.6673 11.6787 14.6673 7.9987C14.6673 4.3187 11.6807 1.33203 8.00065 1.33203ZM2.66732 7.9987C2.66732 7.59203 2.72065 7.19203 2.80732 6.81203L5.99398 9.9987V10.6654C5.99398 11.3987 6.59398 11.9987 7.32732 11.9987V13.2854C4.70732 12.952 2.66732 10.712 2.66732 7.9987ZM11.9273 11.5987C11.754 11.0587 11.2607 10.6654 10.6607 10.6654H9.99398V8.66536C9.99398 8.2987 9.69398 7.9987 9.32732 7.9987H5.32732V6.66536H6.66065C7.02732 6.66536 7.32732 6.36536 7.32732 5.9987V4.66536H8.66065C9.39398 4.66536 9.99398 4.06536 9.99398 3.33203V3.0587C11.9473 3.84536 13.334 5.76536 13.334 7.9987C13.334 9.38536 12.794 10.652 11.9273 11.5987Z' fill='%23666666'/%3E%3C/svg%3E");
              }
            }
          }

          .search-list-box {
            // max-height: calc(100% - 298px);
            // margin-top: 120px;
          }

          .place-card {
            padding-top: 24px;
          }
        }

        &-spot {
          display: none;
        }

        &-box {
          display: flex;
          flex-direction: column;
          height: 100%;
          background: $light;

          &.nodata {
            :not(.place-card) {
              display: none;
            }

            .palce-nodata {
              display: block;
              margin-top: 66px;
              text-align: center;

              p {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: #757573;
                font-size: 16px;

                &:before {
                  content: '';
                  display: block;
                  width: 48px;
                  height: 48px;
                  margin-bottom: 16px;
                  background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='23' y='13' width='2' height='16' fill='%23757573'/%3E%3Crect x='23' y='33' width='2' height='2' fill='%23757573'/%3E%3Crect x='0.5' y='0.5' width='47' height='47' rx='23.5' stroke='%23757573'/%3E%3C/svg%3E");
                }
              }
            }
          }
        }

        .place-card {
          overflow-y: auto;
          max-height: calc(100% - 100px);
          padding: 16px 8px 0 16px;

          &__item {
            display: flex;
            position: relative;
            padding: 19px 16px 16px;
            background-color: #FEFCF7;
            border-radius: 8px;
            border: 1px solid #DFDBD3;

            >[class^="place-card__"] {
              +[class^="place-card__"] {
                margin-left: 16px;
              }
            }

            &+.place-card__item {
              margin-top: 8px;
            }

            .place-card__info {
              overflow: hidden;
              line-height: 1;

              .place-card__info-title {
                font-size: 18px;
                font-weight: 600;
                @include ellipsis(2);
              }

              .art-info {
                margin-top: 10px;
                line-height: 1;

                .ico-event,
                .ico-location {
                  padding-left: 0;
                  font-size: 14px;

                  &:before {
                    display: none;
                  }
                }

                .ico-location {
                  margin-top: 9px;
                  font-weight: 600;
                  color: #4D1E16;
                }
              }

              .art-info-by {
                margin-top: 15px;

                .grade {
                  margin-left: 14px;
                }
              }
            }

            .thumb-img {
              width: 72px;
              height: 104px;
            }

            .place-card__btn {
              position: absolute;
              right: 16px;
              bottom: 16px;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              flex-grow: 1;
              align-items: flex-end;

            }
          }
        }

        .palce-nodata {
          display: none;
        }

        .paging {
          gap: 19px;
          margin: auto 26px 24px;

          &__num-wrap {
            gap: 8px;
            margin: 0;

            &.paging-mo {
              height: 26px;
            }
          }

          &__num,
          &__btn {
            margin: 0;
          }
        }
      }
    }
  }


  .btn-place {
    position: relative;
    display: inline-flex;
    width: 32px;
    height: 32px;
    color: #915E3B;
    background-color: $light;
    border: 2px solid #915E3B;
    border-radius: 50%;
    box-sizing: border-box;

    &:before {
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1.5C6.0975 1.5 3.75 3.8475 3.75 6.75C3.75 10.6875 9 16.5 9 16.5C9 16.5 14.25 10.6875 14.25 6.75C14.25 3.8475 11.9025 1.5 9 1.5ZM5.25 6.75C5.25 4.68 6.93 3 9 3C11.07 3 12.75 4.68 12.75 6.75C12.75 8.91 10.59 12.1425 9 14.16C7.44 12.1575 5.25 8.8875 5.25 6.75Z' fill='%23915E3B'/%3E%3Cpath d='M9 8.625C10.0355 8.625 10.875 7.78553 10.875 6.75C10.875 5.71447 10.0355 4.875 9 4.875C7.96447 4.875 7.125 5.71447 7.125 6.75C7.125 7.78553 7.96447 8.625 9 8.625Z' fill='%23915E3B'/%3E%3C/svg%3E");
      background-repeat: no-repeat;

      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 18px;
      height: 18px;
    }

    &.is-selected {
      background: #915E3B;
      border: none;

      &:before {
        top: 50%;
        left: 50%;
        width: 18px;
        height: 18px;
        transform: translate(-50%, -50%);
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0.5C3.0975 0.5 0.75 2.8475 0.75 5.75C0.75 9.6875 6 15.5 6 15.5C6 15.5 11.25 9.6875 11.25 5.75C11.25 2.8475 8.9025 0.5 6 0.5ZM2.25 5.75C2.25 3.68 3.93 2 6 2C8.07 2 9.75 3.68 9.75 5.75C9.75 7.91 7.59 11.1425 6 13.16C4.44 11.1575 2.25 7.8875 2.25 5.75Z' fill='%23F5F3EC'/%3E%3Cpath d='M6 7.625C7.03553 7.625 7.875 6.78553 7.875 5.75C7.875 4.71447 7.03553 3.875 6 3.875C4.96447 3.875 4.125 4.71447 4.125 5.75C4.125 6.78553 4.96447 7.625 6 7.625Z' fill='%23F5F3EC'/%3E%3C/svg%3E%0A");
        background-position: center;
      }
    }
  }

  &-map {
    z-index: 5;
    overflow: hidden;
    position: relative;
    width: 100%;

    .map-section {
      width: 100%;
      height: 100%;
    }

    .btn-place {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 32px;
      height: 32px;
      line-height: 32px;

      &:before {
        display: none;
      }

      .ico-locate {
        width: 32px;
        min-width: 32px;
        height: 32px;
        border-radius: 50%;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1.5C6.0975 1.5 3.75 3.8475 3.75 6.75C3.75 10.6875 9 16.5 9 16.5C9 16.5 14.25 10.6875 14.25 6.75C14.25 3.8475 11.9025 1.5 9 1.5ZM5.25 6.75C5.25 4.68 6.93 3 9 3C11.07 3 12.75 4.68 12.75 6.75C12.75 8.91 10.59 12.1425 9 14.16C7.44 12.1575 5.25 8.8875 5.25 6.75Z' fill='%23915E3B'/%3E%3Cpath d='M9 8.625C10.0355 8.625 10.875 7.78553 10.875 6.75C10.875 5.71447 10.0355 4.875 9 4.875C7.96447 4.875 7.125 5.71447 7.125 6.75C7.125 7.78553 7.96447 8.625 9 8.625Z' fill='%23915E3B'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 18px 18px;
      }

      .locate-name {
        display: none;
      }

      &.is-selected {
        min-width: 48px;
        height: 48px;
        line-height: 48px;

        .ico-locate {
          color: #fff;
          background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0.5C3.0975 0.5 0.75 2.8475 0.75 5.75C0.75 9.6875 6 15.5 6 15.5C6 15.5 11.25 9.6875 11.25 5.75C11.25 2.8475 8.9025 0.5 6 0.5ZM2.25 5.75C2.25 3.68 3.93 2 6 2C8.07 2 9.75 3.68 9.75 5.75C9.75 7.91 7.59 11.1425 6 13.16C4.44 11.1575 2.25 7.8875 2.25 5.75Z' fill='%23F5F3EC'/%3E%3Cpath d='M6 7.625C7.03553 7.625 7.875 6.78553 7.875 5.75C7.875 4.71447 7.03553 3.875 6 3.875C4.96447 3.875 4.125 4.71447 4.125 5.75C4.125 6.78553 4.96447 7.625 6 7.625Z' fill='%23F5F3EC'/%3E%3C/svg%3E%0A");
          background-color: #915E3B;
          background-size: 24px 24px;
        }
      }

      &.is-open {
        width: auto;
        padding: 8px 16px;
        min-width: 48px;
        height: 48px;
        line-height: 48px;
        border-radius: 48px;
        justify-content: flex-start;

        .ico-locate {
          width: 32px;
          height: 32px;
          line-height: 32px;
          color: #fff;
          background-color: #915E3B;
          background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0.5C3.0975 0.5 0.75 2.8475 0.75 5.75C0.75 9.6875 6 15.5 6 15.5C6 15.5 11.25 9.6875 11.25 5.75C11.25 2.8475 8.9025 0.5 6 0.5ZM2.25 5.75C2.25 3.68 3.93 2 6 2C8.07 2 9.75 3.68 9.75 5.75C9.75 7.91 7.59 11.1425 6 13.16C4.44 11.1575 2.25 7.8875 2.25 5.75Z' fill='%23F5F3EC'/%3E%3Cpath d='M6 7.625C7.03553 7.625 7.875 6.78553 7.875 5.75C7.875 4.71447 7.03553 3.875 6 3.875C4.96447 3.875 4.125 4.71447 4.125 5.75C4.125 6.78553 4.96447 7.625 6 7.625Z' fill='%23F5F3EC'/%3E%3C/svg%3E%0A");

        }

        .locate-name {
          display: block;
          margin-left: 8px;
          color: $dark;
          font-size: 18px;
          font-weight: 500;
          white-space: nowrap;
        }

        &.is-selected {
          .ico-locate {
            color: #fff;
            background-color: $light;
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1.5C6.0975 1.5 3.75 3.8475 3.75 6.75C3.75 10.6875 9 16.5 9 16.5C9 16.5 14.25 10.6875 14.25 6.75C14.25 3.8475 11.9025 1.5 9 1.5ZM5.25 6.75C5.25 4.68 6.93 3 9 3C11.07 3 12.75 4.68 12.75 6.75C12.75 8.91 10.59 12.1425 9 14.16C7.44 12.1575 5.25 8.8875 5.25 6.75Z' fill='%23915E3B'/%3E%3Cpath d='M9 8.625C10.0355 8.625 10.875 7.78553 10.875 6.75C10.875 5.71447 10.0355 4.875 9 4.875C7.96447 4.875 7.125 5.71447 7.125 6.75C7.125 7.78553 7.96447 8.625 9 8.625Z' fill='%23915E3B'/%3E%3C/svg%3E");
          }

          .locate-name {
            color: #fff;
          }
        }
      }
    }

    .map-btn {
      position: fixed;
      right: 0;
      bottom: 48px;
      width: 100%;
      height: 48px;

      .btn.map-search {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 24px;
        background-color: #915E3B;
        border: none;
        color: $light;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);

        &:after {
          content: '';
          display: inline-block;
          width: 12px;
          height: 12px;
          margin-left: 3px;
          background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.7339 1.7625C9.64641 0.675 8.15391 0 6.49641 0C3.18141 0 0.503906 2.685 0.503906 6C0.503906 9.315 3.18141 12 6.49641 12C9.29391 12 11.6264 10.0875 12.2939 7.5H10.7339C10.1189 9.2475 8.45391 10.5 6.49641 10.5C4.01391 10.5 1.99641 8.4825 1.99641 6C1.99641 3.5175 4.01391 1.5 6.49641 1.5C7.74141 1.5 8.85141 2.0175 9.66141 2.835L7.24641 5.25H12.4964V0L10.7339 1.7625Z' fill='%23F5F3EC'/%3E%3C/svg%3E%0A");
        }
      }

      .btn-location {
        position: absolute;
        right: 48px;
        width: 48px;
        height: 48px;
        background: #fff url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 7C8.79 7 7 8.79 7 11C7 13.21 8.79 15 11 15C13.21 15 15 13.21 15 11C15 8.79 13.21 7 11 7ZM19.94 10C19.48 5.83 16.17 2.52 12 2.06V0H10V2.06C5.83 2.52 2.52 5.83 2.06 10H0V12H2.06C2.52 16.17 5.83 19.48 10 19.94V22H12V19.94C16.17 19.48 19.48 16.17 19.94 12H22V10H19.94ZM11 18C7.13 18 4 14.87 4 11C4 7.13 7.13 4 11 4C14.87 4 18 7.13 18 11C18 14.87 14.87 18 11 18Z' fill='%23666666'/%3E%3C/svg%3E%0A") no-repeat;
        background-position: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 24px;
      }
    }
  }
}


//PC
@media all and (max-width: $devicePC) {}

//Tablet - 1600
@media all and (max-width: $devicePC-mid) {}

//Tablet - 1280
@media all and (max-width: $deviceTablet) {}

//Tablet -1024

@media all and (max-width: $deviceTablet-no) {}

//Mobile
@media all and (max-width: $deviceMobile) {
  .artemap {
    &-section {
      position: relative;
      height: calc(var(--vh, 1vh) * 100 - 60px);
      // height: calc(100vh - 60px);
      // height: calc(var(--vh) - 60px);
    }

    &-side {
      overflow: hidden;
      left: 0;
      // top: calc(100vh - 218px);
      top: calc(var(--vh, 1vh) * 100 - 218px);
      width: 100%;
      height: calc(100% - 16px);
      border-top: 1px solid #DFDACE;
      border-radius: 12px 12px 0 0;

      // 20230530
      top: calc(var(--vh, 1vh) * 100 - 350px);

      &:before {
        content: "";
        z-index: -1;
        display: none;
        position: fixed;
        left: 0px;
        top: 60px;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.2);
        // opacity: 0;
        // transition: 0.2s opacity;
      }

      &.is-open {
        bottom: 15%;

      }

      &.is-open,
      &.is-drag {
        &:before {
          display: block;
          // opacity: 1;
          // transition: 0.2s opacity;
        }
      }

      .side-handle {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 30px;

        &:before {
          content: '';
          position: absolute;
          top: 8px;
          left: 50%;
          transform: translateX(-50%);
          width: 32px;
          height: 4px;
          border-radius: 4px;
          border: 1px solid #DFDACE;
          border-radius: 4px;
          background: #D1C4B8;
        }
      }
    }

    &-search {
      .search {
        &-group {
          padding: 32px 0 20px;
        }

        &-option {
          .art-info {
            .ico-location {
              padding-left: 20px;
              color: #444;
              font-size: 16px;
              font-weight: 600;

              &:before {
                display: block;
                width: 20px;
                height: 20px;
              }
            }
          }
        }

        &-filter {
          .btn.filter {
            height: 24px;
          }

          .filter-options {
            overflow: hidden;
            top: 0;
            // height: calc(100vh - 75px);
            height: calc(var(--vh, 1vh) * 100 - 75px);

            &__top {
              position: static;
              border: none;
              background: $light;
              box-shadow: none;
            }

            &__items-list {
              li {
                flex: 50%;
              }
            }

            &__bottom {
              justify-content: space-between;
              padding: 0 24px;

              .hide-pc {
                display: block;
              }
            }
          }
        }

        &-tags {
          overflow-x: auto;
          overflow-y: hidden;
          flex-wrap: nowrap;
          order: initial;
          max-width: 100%;

          .select-tag span {
            white-space: nowrap;
          }

          &.is-selected {
            padding: 24px 16px;

            &+.search-list {
              height: 100%;
              margin-top: 16px;

              .search-list-box {
                max-height: calc(100% - 189px);
              }
            }
          }
        }

        &-list {
          // display: none;
          height: 100%;
          margin-top: 16px;

          &-box {
            overflow-y: auto;
            max-height: calc(100% - 151px);
            padding: 0 8px 0 16px;
          }

          &.spot {
            height: calc(100% - 157px);
            ;

            .search-list-spot {
              padding: 32px 24px 20px;
            }

            .search-list-box {
              max-height: initial;
              margin-top: 16px;
            }

            .place-card {
              margin-top: 112px;
              padding: 0;
            }
          }

          .place-card {
            overflow-y: initial;
            max-height: initial;
            padding: 0;

            &__item {
              &+.place-card__item {
                margin-top: 4px;
              }

              .place-card__info {
                overflow: hidden;

                .place-card__info-title {
                  @include ellipsis($line : 1);
                }
              }
            }
          }

          .paging {
            margin: 36px 0 60px;
          }
        }
      }
    }

    &-map {
      z-index: 5;
      width: 100%;

      .btn-place {
        &.is-open {
          padding: 8px;
        }
      }

      .map-btn {
        position: static;

        .btn.map-search {
          position: fixed;
          top: 76px;
          transform: translate(-50%, 0);
          width: auto;
          height: 24px;
          font-size: 14px;
          white-space: nowrap;
        }

        .btn-location {
          position: fixed;
          left: 16px;
          right: auto;
          bottom: 169px;
        }
      }
    }
  }
}